<section class="subscribe subscribe--blog">
  <div class="container">
    <div class="subscribe__container subscribe__container--blog">
      <h2 class="subscribe__title">Подписаться на&nbsp;материал</h2>
      <form action="#!" class="subscribe__form form-subscribe">
        <div class="form-subscribe__field">
          <input type="email" class="input-reset form-subscribe__input" id="subscribe-email" autocomplete="email" placeholder="" required="">
          <label class="form-subscribe__label" for="subscribe-email">Электронная почта</label>
        </div>
        <button class="btn-reset btn btn--lg btn--white-bg btn--primary-text form-subscribe__btn" type="submit">Отправить заявку</button>
      </form>
    </div>
  </div>
</section>