<section class="blog-hero">
  <div class="container">
    <h2 class="section-title blog-hero__title">Блог</h2>
    <ul class="list-reset blog-hero__list">
      <li class="blog-hero__item blog-hero__item--first">
        <aticle class="blog-page-card blog-page-card--lg">
          <div class="blog-page-card__img-wrapper">
            <img class="blog-page-card__img" src="src/assets/img/blog-page-img-1.avif" alt="Карточка блога" width="542" height="362">
          </div>
          <div class="blog-page-card__content">
            <h3 class="section-title-desc section-title-desc--black">CBD и спорт: как восстанавливаться после тренировок</h3>
            <div class="blog-page-card__bottom">
              <a href="/blog-inner" class="btn btn--secondary blog-page-card__link">Читать</a>
              <span class="blog-page-card__date"><time datetime="2025-10-11">11 октября</time></span>
            </div>
          </div>
        </aticle>
      </li>
      <li class="blog-hero__item blog-hero__item--second">
        <aticle class="blog-page-card blog-page-card--dark">
          <div class="blog-page-card__content blog-page-card__content--sm">
            <h3 class="section-title-desc">Производство CBD напитков в&nbsp;России</h3>
            <div class="blog-page-card__bottom">
              <a href="/blog-inner" class="btn btn--white-bg btn--primary-text blog-page-card__link">Читать</a>
              <span class="blog-page-card__date blog-page-card__date--light"><time datetime="2025-10-08">8 октября</time></span>
            </div>
          </div>
        </aticle>
      </li>
      <li class="blog-hero__item blog-hero__item--lg blog-hero__item--third">
        <aticle class="blog-page-card">
          <div class="blog-page-card__img-wrapper">
            <img class="blog-page-card__img" src="src/assets/img/blog-page-img-2.avif" alt="Карточка блога" width="542" height="362">
          </div>
          <div class="blog-page-card__content">
            <h3 class="section-title-desc section-title-desc--black">CBD и спорт: как восстанавливаться после тренировок</h3>
            <div class="blog-page-card__bottom">
              <a href="/blog-inner" class="btn btn--secondary blog-page-card__link">Читать</a>
              <span class="blog-page-card__date"><time datetime="2025-10-01">1 октября</time></span>
            </div>
          </div>
        </aticle>
      </li>
      <li class="blog-hero__item blog-hero__item--lg blog-hero__item--fourth">
        <aticle class="blog-page-card">
          <div class="blog-page-card__img-wrapper">
            <img class="blog-page-card__img" src="src/assets/img/blog-page-img-3.avif" alt="Карточка блога" width="542" height="362">
          </div>
          <div class="blog-page-card__content">
            <h3 class="section-title-desc section-title-desc--black">Важные результаты исследования CBD, опубликованные Radicle Science</h3>
            <div class="blog-page-card__bottom">
              <a href="/blog-inner" class="btn btn--secondary blog-page-card__link">Читать</a>
              <span class="blog-page-card__date"><time datetime="2025-10-01">1 октября</time></span>
            </div>
          </div>
        </aticle>
      </li>
      <li class="blog-hero__item blog-hero__item--fifth">
        <aticle class="blog-page-card">
          <div class="blog-page-card__content blog-page-card__content--sm">
            <h3 class="section-title-desc section-title-desc--black">CBD и спорт: как восстанавливаться после тренировок</h3>
            <div class="blog-page-card__bottom">
              <a href="/blog-inner" class="btn btn--secondary blog-page-card__link">Читать</a>
              <span class="blog-page-card__date"><time datetime="2025-10-08">8 октября</time></span>
            </div>
          </div>
        </aticle>
      </li>
      <li class="blog-hero__item blog-hero__item--sixth">
        <aticle class="blog-page-card blog-page-card--primary">
          <div class="blog-page-card__content blog-page-card__content--sm">
            <h3 class="section-title-desc">Что такое Roll - On CBD<br>и гели CBD?</h3>
            <div class="blog-page-card__bottom">
              <a href="/blog-inner" class="btn btn--white-bg btn--primary-text blog-page-card__link">Читать</a>
              <span class="blog-page-card__date blog-page-card__date--light"><time datetime="2025-10-08">8 октября</time></span>
            </div>
          </div>
        </aticle>
      </li>
    </ul>
  </div>
</section>