<section class="blog-read-more">
  <div class="container">
    <div class="blog-read-more__container">
      <div class="blog-read-more__data">
        <span class="section-title">ЧИтайте<br>так же</span>
        <div class="read-tabs" data-js-tabs>
          <div class="read-tabs__tablist" role="tablist" aria-label="Читайте так же">
            <button class="btn-reset read-tabs__btn is-active" role="tab" aria-selected="true" aria-controls="read-panel-1" id="read-tab-1" tabindex="0" data-js-tabs-button=""
              data-topics-count="12">Медицина</button>
            <button class="btn-reset read-tabs__btn" role="tab" aria-selected="false" aria-controls="read-panel-2" id="read-tab-2" tabindex="-1" data-js-tabs-button="" data-topics-count="58">Продукты
              питания</button>
            <button class="btn-reset read-tabs__btn" role="tab" aria-selected="false" aria-controls="read-panel-3" id="read-tab-3" tabindex="-1" data-js-tabs-button=""
              data-topics-count="17">Спорт</button>
            <button class="btn-reset read-tabs__btn" role="tab" aria-selected="false" aria-controls="read-panel-4" id="read-tab-4" tabindex="-1" data-js-tabs-button="" data-topics-count="8">Нервная
              система</button>
            <button class="btn-reset read-tabs__btn" role="tab" aria-selected="false" aria-controls="read-panel-5" id="read-tab-5" tabindex="-1" data-js-tabs-button=""
              data-topics-count="4">Исследования</button>
            <button class="btn-reset read-tabs__btn" role="tab" aria-selected="false" aria-controls="read-panel-6" id="read-tab-6" tabindex="-1" data-js-tabs-button=""
              data-topics-count="6">Другое</button>
          </div>
        </div>
      </div>
      <div class="blog-read-more__content">
        <div class="read-tabs-content is-active" id="read-panel-1" role="tabpanel" tabindex="0" aria-labelledby="read-tab-1" data-js-tabs-content>
          <ul class="list-reset blog-read-more__list">
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                <span class="read-more-card__date"><time datetime="2025-10-03">3 октября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                <span class="read-more-card__date"><time datetime="2025-10-01">1 октября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Что такое Roll - On CBD и гели CBD?</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Производство CBD напитков в России</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">CBD – все, что вам нужно знать о каннабидиоле</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
          </ul>
        </div>
        <div class="read-tabs-content" id="read-panel-2" role="tabpanel" tabindex="0" aria-labelledby="read-tab-2" data-js-tabs-content>
          <ul class="list-reset blog-read-more__list">
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                <span class="read-more-card__date"><time datetime="2025-10-03">3 октября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                <span class="read-more-card__date"><time datetime="2025-10-01">1 октября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Что такое Roll - On CBD и гели CBD?</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Производство CBD напитков в России</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">CBD – все, что вам нужно знать о каннабидиоле</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
          </ul>
        </div>
        <div class="read-tabs-content" id="read-panel-3" role="tabpanel" tabindex="0" aria-labelledby="read-tab-3" data-js-tabs-content>
          <ul class="list-reset blog-read-more__list">
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                <span class="read-more-card__date"><time datetime="2025-10-03">3 октября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                <span class="read-more-card__date"><time datetime="2025-10-01">1 октября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Что такое Roll - On CBD и гели CBD?</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Производство CBD напитков в России</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">CBD – все, что вам нужно знать о каннабидиоле</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
          </ul>
        </div>
        <div class="read-tabs-content" id="read-panel-4" role="tabpanel" tabindex="0" aria-labelledby="read-tab-4" data-js-tabs-content>
          <ul class="list-reset blog-read-more__list">
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                <span class="read-more-card__date"><time datetime="2025-10-03">3 октября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                <span class="read-more-card__date"><time datetime="2025-10-01">1 октября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Что такое Roll - On CBD и гели CBD?</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Производство CBD напитков в России</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">CBD – все, что вам нужно знать о каннабидиоле</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
          </ul>
        </div>
        <div class="read-tabs-content" id="read-panel-5" role="tabpanel" tabindex="0" aria-labelledby="read-tab-5" data-js-tabs-content>
          <ul class="list-reset blog-read-more__list">
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                <span class="read-more-card__date"><time datetime="2025-10-03">3 октября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                <span class="read-more-card__date"><time datetime="2025-10-01">1 октября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Что такое Roll - On CBD и гели CBD?</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Производство CBD напитков в России</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">CBD – все, что вам нужно знать о каннабидиоле</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
          </ul>
        </div>
        <div class="read-tabs-content" id="read-panel-6" role="tabpanel" tabindex="0" aria-labelledby="read-tab-6" data-js-tabs-content>
          <ul class="list-reset blog-read-more__list">
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                <span class="read-more-card__date"><time datetime="2025-10-03">3 октября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                <span class="read-more-card__date"><time datetime="2025-10-01">1 октября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Что такое Roll - On CBD и гели CBD?</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">Производство CBD напитков в России</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
            <li class="blog-read-more__item">
              <article class="read-more-card">
                <a href="/blog-inner" class="read-more-card__link">CBD – все, что вам нужно знать о каннабидиоле</a>
                <span class="read-more-card__date"><time datetime="2025-09-30">30 сентября</time></span>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>