<section class="production-hero">
  <div class="container">
    <h1 class="section-title production-hero__title">Выпускаемые продукты</h1>
    <ul class="list-reset production-hero__list">
      <li class="production-hero__item">
        <article class="production-card">
          <div class="production-card__container">
            <div class="production-card__caption">
              <div class="production-card__top-caption">
                <h3 class="production-card__title">Medcann CBD MD</h3>
                <button class="btn-reset btn production-card__order-btn" data-dialog-btn="modal-extended" data-dialog-title="Запросить коммерческое предложение">Заказать</button>
              </div>
              <ul class="list-reset production-card__tags-list tags-list">
                <li class="tags-list__item">
                  <span class="tags-list__text">Напитки</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Косметика</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Пищевая продукция</span>
                </li>
              </ul>
            </div>
            <div class="production-card__content">
              <div class="production-card__img-block">
                <div class="production-card__img">
                  <img src="src/assets/img/production-card-img-1.avif" alt="Продукт" width="532" height="353">
                </div>
                <a href="/product-page" class="btn production-card__img-block-btn">Перейти к продукту</a>
              </div>
              <div class="production-card__desc-block">
                <p class="production-card__text">
                  Сухая водорастворимая эмульсия «Medcann CBD MD» на основе масла МСТ (и/или других масел, экстрактов) с содержанием изолята каннабидиола (CBD), порошок бело-желтого, молочного цвета,
                  характерный для растительного продукта вкус и запах, рас- творяется в водных основах.
                </p>
                <a href="/product-page" class="circle-link circle-link--secondary production-card__circle-link">
                  <span class="circle-link__icon-wrapper circle-link__icon-wrapper--sm">
                    <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                      </path>
                    </svg>
                  </span>
                  <span class="circle-link__text">Подробнее</span>
                </a>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="production-hero__item">
        <article class="production-card">
          <div class="production-card__container">
            <div class="production-card__caption">
              <div class="production-card__top-caption">
                <h3 class="production-card__title">Medcann CBD MD</h3>
                <button class="btn-reset btn production-card__order-btn" data-dialog-btn="modal-extended" data-dialog-title="Запросить коммерческое предложение">Заказать</button>
              </div>
              <ul class="list-reset production-card__tags-list tags-list">
                <li class="tags-list__item">
                  <span class="tags-list__text">Напитки</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Косметика</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Пищевая продукция</span>
                </li>
              </ul>
            </div>
            <div class="production-card__content">
              <div class="production-card__img-block">
                <div class="production-card__img">
                  <img src="src/assets/img/production-card-img-2.avif" alt="Продукт" width="532" height="353">
                </div>
                <a href="/product-page" class="btn production-card__img-block-btn">Перейти к продукту</a>
              </div>
              <div class="production-card__desc-block">
                <p class="production-card__text">
                  Сухая водорастворимая эмульсия «Medcann CBD MD» на основе масла МСТ (и/или других масел, экстрактов) с содержанием изолята каннабидиола (CBD), порошок бело-желтого, молочного цвета,
                  характерный для растительного продукта вкус и запах, рас- творяется в водных основах.
                </p>
                <a href="/product-page" class="circle-link circle-link--secondary production-card__circle-link">
                  <span class="circle-link__icon-wrapper circle-link__icon-wrapper--sm">
                    <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                      </path>
                    </svg>
                  </span>
                  <span class="circle-link__text">Подробнее</span>
                </a>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="production-hero__item">
        <article class="production-card">
          <div class="production-card__container">
            <div class="production-card__caption">
              <div class="production-card__top-caption">
                <h3 class="production-card__title">Medcann CBD MD</h3>
                <button class="btn-reset btn production-card__order-btn" data-dialog-btn="modal-extended" data-dialog-title="Запросить коммерческое предложение">Заказать</button>
              </div>
              <ul class="list-reset production-card__tags-list tags-list">
                <li class="tags-list__item">
                  <span class="tags-list__text">Напитки</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Косметика</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Пищевая продукция</span>
                </li>
              </ul>
            </div>
            <div class="production-card__content">
              <div class="production-card__img-block">
                <div class="production-card__img">
                  <img src="src/assets/img/production-card-img-3.avif" alt="Продукт" width="532" height="353">
                </div>
                <a href="/product-page" class="btn production-card__img-block-btn">Перейти к продукту</a>
              </div>
              <div class="production-card__desc-block">
                <p class="production-card__text">
                  Сухая водорастворимая эмульсия «Medcann CBD MD» на основе масла МСТ (и/или других масел, экстрактов) с содержанием изолята каннабидиола (CBD), порошок бело-желтого, молочного цвета,
                  характерный для растительного продукта вкус и запах, рас- творяется в водных основах.
                </p>
                <a href="/product-page" class="circle-link circle-link--secondary production-card__circle-link">
                  <span class="circle-link__icon-wrapper circle-link__icon-wrapper--sm">
                    <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                      </path>
                    </svg>
                  </span>
                  <span class="circle-link__text">Подробнее</span>
                </a>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="production-hero__item">
        <article class="production-card">
          <div class="production-card__container">
            <div class="production-card__caption">
              <div class="production-card__top-caption">
                <h3 class="production-card__title">Medcann CBD MD</h3>
                <button class="btn-reset btn production-card__order-btn" data-dialog-btn="modal-extended" data-dialog-title="Запросить коммерческое предложение">Заказать</button>
              </div>
              <ul class="list-reset production-card__tags-list tags-list">
                <li class="tags-list__item">
                  <span class="tags-list__text">Напитки</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Косметика</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Пищевая продукция</span>
                </li>
              </ul>
            </div>
            <div class="production-card__content">
              <div class="production-card__img-block">
                <div class="production-card__img">
                  <img src="src/assets/img/production-card-img-1.avif" alt="Продукт" width="532" height="353">
                </div>
                <a href="/product-page" class="btn production-card__img-block-btn">Перейти к продукту</a>
              </div>
              <div class="production-card__desc-block">
                <p class="production-card__text">
                  Сухая водорастворимая эмульсия «Medcann CBD MD» на основе масла МСТ (и/или других масел, экстрактов) с содержанием изолята каннабидиола (CBD), порошок бело-желтого, молочного цвета,
                  характерный для растительного продукта вкус и запах, рас- творяется в водных основах.
                </p>
                <a href="/product-page" class="circle-link circle-link--secondary production-card__circle-link">
                  <span class="circle-link__icon-wrapper circle-link__icon-wrapper--sm">
                    <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                      </path>
                    </svg>
                  </span>
                  <span class="circle-link__text">Подробнее</span>
                </a>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="production-hero__item">
        <article class="production-card">
          <div class="production-card__container">
            <div class="production-card__caption">
              <div class="production-card__top-caption">
                <h3 class="production-card__title">Medcann CBD MD</h3>
                <button class="btn-reset btn production-card__order-btn" data-dialog-btn="modal-extended" data-dialog-title="Запросить коммерческое предложение">Заказать</button>
              </div>
              <ul class="list-reset production-card__tags-list tags-list">
                <li class="tags-list__item">
                  <span class="tags-list__text">Напитки</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Косметика</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Пищевая продукция</span>
                </li>
              </ul>
            </div>
            <div class="production-card__content">
              <div class="production-card__img-block">
                <div class="production-card__img">
                  <img src="src/assets/img/production-card-img-2.avif" alt="Продукт" width="532" height="353">
                </div>
                <a href="/product-page" class="btn production-card__img-block-btn">Перейти к продукту</a>
              </div>
              <div class="production-card__desc-block">
                <p class="production-card__text">
                  Сухая водорастворимая эмульсия «Medcann CBD MD» на основе масла МСТ (и/или других масел, экстрактов) с содержанием изолята каннабидиола (CBD), порошок бело-желтого, молочного цвета,
                  характерный для растительного продукта вкус и запах, рас- творяется в водных основах.
                </p>
                <a href="/product-page" class="circle-link circle-link--secondary production-card__circle-link">
                  <span class="circle-link__icon-wrapper circle-link__icon-wrapper--sm">
                    <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                      </path>
                    </svg>
                  </span>
                  <span class="circle-link__text">Подробнее</span>
                </a>
              </div>
            </div>
          </div>
        </article>
      </li>
      <li class="production-hero__item">
        <article class="production-card">
          <div class="production-card__container">
            <div class="production-card__caption">
              <div class="production-card__top-caption">
                <h3 class="production-card__title">Medcann CBD MD</h3>
                <button class="btn-reset btn production-card__order-btn" data-dialog-btn="modal-extended" data-dialog-title="Запросить коммерческое предложение">Заказать</button>
              </div>
              <ul class="list-reset production-card__tags-list tags-list">
                <li class="tags-list__item">
                  <span class="tags-list__text">Напитки</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Косметика</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Пищевая продукция</span>
                </li>
              </ul>
            </div>
            <div class="production-card__content">
              <div class="production-card__img-block">
                <div class="production-card__img">
                  <img src="src/assets/img/production-card-img-3.avif" alt="Продукт" width="532" height="353">
                </div>
                <a href="/product-page" class="btn production-card__img-block-btn">Перейти к продукту</a>
              </div>
              <div class="production-card__desc-block">
                <p class="production-card__text">
                  Сухая водорастворимая эмульсия «Medcann CBD MD» на основе масла МСТ (и/или других масел, экстрактов) с содержанием изолята каннабидиола (CBD), порошок бело-желтого, молочного цвета,
                  характерный для растительного продукта вкус и запах, рас- творяется в водных основах.
                </p>
                <a href="/product-page" class="circle-link circle-link--secondary production-card__circle-link">
                  <span class="circle-link__icon-wrapper circle-link__icon-wrapper--sm">
                    <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                      </path>
                    </svg>
                  </span>
                  <span class="circle-link__text">Подробнее</span>
                </a>
              </div>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>