<section class="legal-section-hero">
  <div class="container">
    <h1 class="section-title legal-section-hero__title">юридический раздел</h1>
  </div>
  <div class="legal-section-hero__top">
    <div class="container">
      <div class="legal-section-hero__top-container">
        <p class="legal-section-hero__disclaimer">
          Данный материал не является пропагандой наркотических и психотропных веществ, мы против наркотиков!
        </p>
      </div>
    </div>
  </div>
  <div class="legal-section-hero__bottom">
    <div class="container">
      <div class="legal-section-hero__bottom-container">
        <p class="section-title-desc section-title-desc--black legal-section-hero__bottom-text">
          Важно понимать, что Каннабидиол (КБД), <span class="accent-text-bg" data-js-change-text>НЕ является психоактивным соединением,</span> а потому у воздействия КБД и ТГК (ТГК/THC — психотропное
          наркотическое
          вещество, запрещенное к свободному
          обороту на территории РФ, вызывает зависимость и опасно для здоровья человека) на организм есть принципиальные отличия. В научном мире интерес к КБД значительно возрос за последние годы
          благодаря большому количеству исследований, доказывающих его терапевтические свойства.
          Тем не менее, правовой статус каннабидиола различен для каждой страны,
          но отношение к КБД в мире постепенно становится все более лояльным. Насколько продажа и применение КБД законны для стран бывшего СНГ и в первую очередь для России?
        </p>
        <div class="legal-section-hero__bottom-content">
          <p class="section-text section-text--md legal-section-hero__icon-text">
            В Российской Федерации Каннабидиол НЕ входит в Перечень наркотических средств, психотропных веществ и их прекурсоров, что утверждено постановлением
            Правительства Российской Федерации от 30 июня 1998 г. № 681
          </p>
          <a href="#regulation" class="circle-link circle-link--primary">
            <span class="circle-link__icon-wrapper">
              <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                </path>
              </svg>
            </span>
            <span class="circle-link__text">Ознакомиться</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>