<section class="about-mission">
  <div class="container">
    <div class="about-mission__container">
      <h2 class="section-title about-mission__title">Вырастим здоровое будущее</h2>
      <div class="about-mission__content">
        <p class="section-title-desc section-title-desc--black">
          В соответствии с нашей корпоративной культурой, мы берем на себя обязательство обеспечить <span class="accent-text-bg" data-js-change-text>защиту здоровья человека</span>, производя сложные
          органические продукты из тщательно отобранного растительного сырья.
        </p>
        <p class="section-text section-text--md about-mission__secondary-text">
          Опираясь на результаты исследований, проведенных совместно с европейскими лабораториями Швейцарии и Италии, мы предлагаем партнерам продукты, отвечающие высоким качественным требованиям.
        </p>
      </div>
    </div>
  </div>
</section>