<section class="about-advs">
  <div class="top-advs top-advs--about">
    <div class="container">
      <div class="top-advs__container top-advs__container--about">
        <div class="top-advs__content top-advs__content--about">
          <p class="top-advs__pretitle top-advs__pretitle--about">
            Мы ставим перед собой задачу стать <span class="accent-text-primary">глобальной компанией</span>, способной предоставить
            клиентам лучшее растительное сырье для разных целей использования.
          </p>
          <h2 class="section-accent-title top-advs__title top-advs__title--about">Сырье&nbsp;<span>№1</span><br>в&nbsp;России и СНГ</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-advs">
    <div class="container">
      <div class="bottom-advs__container bottom-advs__container--about">
        <div class="about-advs__content">
          <div class="about-advs__caption">
            <span class="section-title">Преимущества</span>
            <p class="section-text section-text--md about-advs__desc">
              Опираясь на результаты исследований, проведенных совместно с европейскими лабораториями Швейцарии и Италии, мы предлагаем партнерам продукты, отвечающие высоким качественным требованиям.
            </p>
          </div>
          <ul class="list-reset about-advs__list list-about-advs">
            <li class="list-about-advs__item">
              <span class="list-about-advs__text">Собственное производство</span>
            </li>
            <li class="list-about-advs__item list-about-advs__item--second">
              <span class="list-about-advs__text">Лаборатория в&nbsp;НИИ&nbsp;Сеченова</span>
            </li>
            <li class="list-about-advs__item list-about-advs__item--third">
              <span class="list-about-advs__text">Лицензия на&nbsp;работу с&nbsp;1&nbsp;списком</span>
            </li>
            <li class="list-about-advs__item list-about-advs__item--fourth">
              <span class="list-about-advs__text">Докритическая<br>co2–экстракция</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>