<section class="about-hero">
  <div class="container">
    <div class="about-hero__content">
      <h1 class="section-accent-title section-accent-title--sm">Что мы<br>делаем?</h1>
      <p class="section-title-desc">
        Основная специализация компании Medcann – это исследование, разработка на профессиональном уровне и реализация натуральных растительных экстрактов, масел и микроэмульсий для косметической,
        медицинской и пищевой промышленности.
      </p>
    </div>
  </div>
</section>