<section class="about-approach">
  <div class="container">
    <h2 class="section-title about-approach__title">наш подход</h2>
    <ul class="list-reset list-about">
      <li class="list-about__item">
        <article class="card-about">
          <h3 class="card-about__title">Растущий интерес к&nbsp;CBD среди производителей</h3>
          <p class="section-text section-text--sm">
            Все формы CBD и других Каннабиноидов для пищевого и косметического производства
          </p>
        </article>
      </li>
      <li class="list-about__item">
        <article class="card-about card-about--second">
          <h3 class="card-about__title">Растущий интерес к&nbsp;CBD среди производителей</h3>
          <p class="section-text section-text--sm">
            Все формы CBD и других Каннабиноидов для пищевого и косметического производства
          </p>
        </article>
      </li>
      <li class="list-about__item">
        <article class="card-about card-about--third">
          <h3 class="card-about__title">Растущий интерес к&nbsp;CBD среди производителей</h3>
          <p class="section-text section-text--sm">
            Все формы CBD и других Каннабиноидов для пищевого и косметического производства
          </p>
        </article>
      </li>
      <li class="list-about__item">
        <article class="card-about card-about--fourth">
          <h3 class="card-about__title">Растущий интерес к&nbsp;CBD среди производителей</h3>
          <p class="section-text section-text--sm">
            Все формы CBD и других Каннабиноидов для пищевого и косметического производства
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>