@use "@/scss/helpers" as *;

.nav {

  &__list {
    display: flex;
    align-items: center;
    gap: fluid(40, 51, 1440, 1920);
  }

  &__link {
    position: relative;
    font-weight: 400;
    font-size: fluid(18, 20, 1440, 1920);
    letter-spacing: -0.07em;
    color: var(--col-black);

    &::before {
      display: block;
      content: '';
      width: 0px;
      height: 2px;
      border-radius: 20px;
      background-color: var(--col-primary-1);
      position: absolute;
      left: 0;
      bottom: -5px;
      transition: width var(--anim-normal);
    }

    @include hover {
      &::before {
        width: 100%;
      }
    }
  }
}