@use "@/scss/helpers" as *;

.scroller {
  overflow: hidden;
  width: 100%;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

  &__inner {
    --gapOnItems: 122px;
    --gapOnItems: #{fluid(31, 122)};
    --translateDistance: calc(var(--gapOnItems) / 2);
    --animationDuration: 20s;

    animation: scrollAnimation var(--animationDuration) infinite linear;
    display: flex;
    align-items: center;
    gap: var(--gapOnItems);
    width: max-content;

    &:hover {
      animation-play-state: paused;
    }
  }

  &__img {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
    }

    &--first {
      width: fluid(86, 134);
    }

    &--second {
      width: fluid(130, 211);
    }

    &--third {
      width: fluid(101, 164);
    }

    &--fourth {
      width: fluid(121, 196);
    }
  }
}