@use "@/scss/helpers" as *;

.products {
  padding-top: fluid(55, 125);
  margin-bottom: fluid(60, 120.5);

  &__caption {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: fluid(29, 151);
  }

  &__title {
    flex: 0 0 calc(1144 / 1756 * 100%);

    @include max-1440 {
      display: none;
    }

    &--mobile {
      display: none;

      @include max-1440 {
        display: block;
      }
    }
  }

  &__desc-block {
    flex: 0 0 calc(448 / 1756 * 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
    padding-top: 15px;
    padding-right: 49px;

    @include max-1920 {
      padding-right: 0;
    }

    @include max-1440 {
      display: none;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: fluid(16, 20);
  }

  &__item {
    grid-column: span 2;
    transition: translate 0.4s ease-in-out;

    @include max-1200 {
      grid-column: span 3;
    }

    @include max-768 {
      grid-column: span 6;
    }
  }

  &__item:nth-child(-n + 3) {
    @include hover {
      translate: 0 -80px;
    }
  }
}