@use "@/scss/helpers" as *;

.subscribe {
  margin-bottom: fluid(100, 140, 1440, 1920);

  @include max-1440 {
    margin-bottom: 0;
    background-color: var(--col-primary-2);
  }

  &--blog {
    margin-bottom: 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 50px;
    padding-left: fluid(40, 100, 1440, 1920);
    padding-right: fluid(40, 219, 1440, 1920);
    padding-bottom: fluid(47.5, 51);

    border-radius: 0 0 30px 30px;
    background-color: var(--col-primary-2);

    &--blog {
      border-radius: 30px;
    }

    @include max-1440 {
      padding-left: 8px;
      padding-right: 8px;
    }

    @include max-1200 {
      padding-top: 57px;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

    @include max-768 {
      gap: 0px;
    }
  }

  &__title {
    margin: 0;
    font-family: var(--ff-2);
    font-weight: 400;
    font-size: fluid(32, 40);
    line-height: 1.05;
    color: var(--col-white);
  }
}

.form-subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: fluid(32, 119);
  width: 100%;
  max-width: 973px;

  @include max-768 {
    flex-direction: column;
    align-items: flex-start;
  }

  &__field {
    position: relative;
    width: 100%;
  }

  &__input {
    width: 100%;
    height: 73px;
    padding-right: 30px;
    background-color: transparent;
    border-bottom: 1px solid var(--col-white-02);
    font-weight: 400;
    font-size: 24px;
    color: var(--col-white);
    transition: border-color var(--anim-normal), border-width var(--anim-normal);

    &:focus-visible {
      outline: none;
    }

    &:focus {
      border-width: 2px;
      border-color: var(--col-white);
    }

    &:not(:placeholder-shown)+.form-subscribe__label {
      translate: 0px -35px;
      font-size: 14px;
    }
  }

  &__label {
    position: absolute;
    left: 2px;
    bottom: fluid(17, 22);
    font-weight: 400;
    font-size: fluid(18, 24);
    letter-spacing: -0.07em;
    color: var(--col-white-04);

    transition: translate var(--anim-normal), font-size var(--anim-normal);
    pointer-events: none;
  }

  &__btn {
    flex-shrink: 0;

    @include max-576 {
      width: 100%;
    }

    @include hover {
      background-color: var(--col-black);
    }
  }
}