<section class="categories-inner-text">
  <div class="container">
    <div class="categories-inner-text__container">
      <div class="categories-inner-text__block categories-inner-text__block--border">
        <h2 class="section-title">Сырье для косметики</h2>
        <p class="section-title-desc section-title-desc--black">
          Косметические продукты Hemp – это мировой тренд на рынке натуральных компонентов для создания эффективных косметических средств на водной и масляной основе.
          По прогнозам исследователей, к 2024 году рынок средств по уходу за кожей на основе Hemp-экстрактов, <span class="accent-text-bg" data-js-change-text>CBD вырастет до 959 миллионов
            долларов,</span>что составит 10% всей мировой индустрии красоты.
          И эти цифры вполне реальны, учитывая растущую популярность косметических продуктов, содержащих CBD.
        </p>
      </div>
      <div class="categories-inner-text__block">
        <h3 class="section-title">ФАКТОРЫ РАЗВИТИЯ</h3>
        <div class="categories-inner-text__subblock">
          <p class="section-title-desc section-title-desc--black">
            Позитивное развитие российского рынка органической косметики на основе Hemp-сырья в долгосрочной перспективе обусловлено влиянием следующих таких факторов:
          </p>
          <ul class="list-reset categories-inner-text__list">
            <li class="categories-inner-text__item">
              <p class="section-text section-text--md">
                галопирующий рост спроса на косметические средства с содержанием Hemp в развитых странах в 2016-2020 гг. и прогнозируемая интенсивная положительная динамика в 2021-2025 гг;
              </p>
            </li>
            <li class="categories-inner-text__item">
              <p class="section-text section-text--md">
                стремительно развивающийся спрос на уходовые средства для кожи на основе Hemp в странах Восточной Европы, потребительское поведение населения которых в значительной степени схоже с
                российским;
                популяризации ЗОЖ и повышение культуры отношения к экологии в целом среди граждан РФ;
              </p>
            </li>
            <li class="categories-inner-text__item">
              <p class="section-text section-text--md">
                интенсивный рост рынка органической косметики и косметики на основе масел семян технической конопли в России;
              </p>
            </li>
            <li class="categories-inner-text__item">
              <p class="section-text section-text--md">
                рост количества информированных о beauty-свойствах Hemp потребителей в РФ
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>