<section class="categories-inner-hero">
  <h1 class="visually-hidden">Health&Beauty индустрия</h1>
  <div class="categories-inner-hero__wrapper">
    <div class="container">
      <div class="categories-inner-hero__container">
        <div class="categories-inner-hero__top">
          <div class="categories-inner-hero__content">
            <h2 class="categories-inner-hero__title categories-inner-hero__title--desktop"><span class="accent-text-primary">Health&Beauty</span><br>индустрия</h2>
            <h2 class="categories-inner-hero__title categories-inner-hero__title--mobile">
              <span class="accent-text-primary">
                Health&<br>Beauty
              </span>
              <br>
              индустрия
            </h2>
            <p class="section-title-desc">
              Medcann – это возможность создания линейки Hemp продукции на основе нашего сырья – наноэмульсий, микроэмульсии, масел и изолятов.
            </p>
          </div>
          <div class="categories-inner-hero__img">
            <img src="src/assets/img/categories-inner-hero-img.avif" alt="Фото продукта" width="324" height="648">
          </div>
        </div>
        <ul class="list-reset categories-inner-hero__list">
          <li class="categories-inner-hero__item">
            <span class="categories-inner-hero__number">2024</span>
            <p class="categories-inner-hero__number-desc">К 2024 году рынок средств по уходу за кожей на основе Hemp-экстрактов составит 10% от общей доли Health&Beauty</p>
          </li>
          <li class="categories-inner-hero__item">
            <span class="categories-inner-hero__number">959 млн. +</span>
            <p class="categories-inner-hero__number-desc">Примерный рост рынка CBD продукции в&nbsp;секторе&nbsp;Health&Beauty</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>