@use "@/scss/helpers" as *;

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(8px);
  }

  60% {
    transform: translateY(4px);
  }
}

@keyframes pulse {
  0% {
    scale: 0.9;
    opacity: 0.7;
  }

  70% {
    scale: 1.2;
    opacity: 0;
  }

  100% {
    scale: 0.9;
    opacity: 0;
  }
}

@keyframes bounceHorizontal {

  0%,
  20%,
  50%,
  80%,
  100% {
    translate: 0 0;
  }

  40% {
    translate: 6px 0;
  }

  60% {
    translate: 3px 0;
  }
}

@keyframes appearanceFromRight {
  0% {
    opacity: 0;
    transform: translateX(20px) scale(0.97);
    filter: blur(10px);
  }

  60% {
    opacity: 1;
    transform: translateX(-4px) scale(1.02);
    filter: blur(0);
  }

  80% {
    transform: translateX(4px) scale(1);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    translate: 100px 0;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes scrollAnimation {
  to {
    transform: translateX(calc(-50% - var(--translateDistance)));
  }
}

@keyframes cloudAnimate {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
    transform: scale(3);
  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes rotateAndScale {
  0% {
    rotate: 0deg;
    scale: 1;
  }

  50% {
    rotate: 180deg;
    scale: 0.7;
  }

  100% {
    rotate: 360deg;
    scale: 1;
  }
}

@keyframes openDialog {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-100px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes closeDialog {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }

  to {
    opacity: 0;
    transform: scale(0.95) translateY(-100px);
  }
}