@use "@/scss/helpers" as *;

.page {
  height: 100%;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scroll-behavior: smooth;

  &__body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100%;
    overflow: auto;
    font-family: var(--ff-1, sans-serif);
    background-color: var(--col-bg-1);
    -webkit-text-size-adjust: 100%;
  }
}

.main {
  flex-grow: 1;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--container-offset);
  max-width: 100%;

  @include max-1440 {
    --container-offset: #{fluid(16, 32, 375, 1440)};
  }
}

.link {
  transition: color var(--anim-normal);

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--col-primary-1);
    border-radius: 10px;
    outline-offset: 3px;
  }

  @include hover {
    color: var(--col-primary-1);
  }

  &:active {
    color: var(--col-primary-2);
  }
}