@use "@/scss/helpers" as *;

:root {
  // base
  --ff-1: "Inter", sans-serif;
  --ff-2: "NeutralFace", sans-serif;
  --content-width: 1240px;
  --container-offset: #{fluid(32, 82, 1440, 1920)};

  // colors
  --col-white: #fff;
  --col-white-01: rgba(255, 255, 255, 0.1);
  --col-white-02: rgba(255, 255, 255, 0.2);
  --col-white-04: rgba(255, 255, 255, 0.4);

  --col-black: #000;
  --col-black-03: rgba(0, 0, 0, 0.3);
  --col-black-04: rgba(0, 0, 0, 0.4);

  --col-dark-1: #191919;
  --col-dark-2: #171717;
  --col-dark-2-03: rgba(23, 23, 23, 0.3);

  --col-bg-1: #f0f0f0;

  --col-primary-1: #3f892c;
  --col-primary-2: #146642;
  --col-primary-3: #268b0d;

  --col-primary-light-1: #d9e7d5;

  --col-grey-1: #5f5f5f;
  --col-grey-2: #6b6b6b;

  --col-grey-light-1: #dbdbdb;
  --col-grey-light-2: #b9b9b9;
  --col-grey-light-3: #eaeaea;

  --col-blue-1: #012a49;

  // other
  --anim-normal: 0.3s ease-in-out;
  --anim-long: 0.4s ease-in-out;
  --lh-n: 1.25;
}