<section class="product-hero">
  <div class="container">
    <div class="product-hero__container">
      <div class="product-hero__top">
        <div class="product-hero__caption">
          <ul class="list-reset tags-list">
            <li class="tags-list__item">
              <span class="tags-list__text">Напитки</span>
            </li>
            <li class="tags-list__item">
              <span class="tags-list__text">Косметика</span>
            </li>
            <li class="tags-list__item">
              <span class="tags-list__text">Пищевая продукция</span>
            </li>
          </ul>
          <h1 class="section-title">Medcann CBD MD</h1>
        </div>
        <div class="product-hero__gallery product-gallery">
          <a data-fslightbox="gallery" href="src/assets/img/product-page-img-1.avif" class="product-gallery__main-wrapper">
            <img class="product-gallery__main-img" src="src/assets/img/product-page-img-1.avif" width="258" height="495" alt="Основное фото продукта">
          </a>
          <div class="product-gallery__thumbs">
            <a data-fslightbox="gallery" href="src/assets/img/categories-hero-product-2.avif">
              <div class="product-gallery__img-wrapper">
                <img src="src/assets/img/product-page-thumb-1.avif" alt="Фото продукта">
              </div>
            </a>
            <a data-fslightbox="gallery" href="src/assets/img/categories-hero-product-3-mobile.avif">
              <div class="product-gallery__img-wrapper">
                <img src="src/assets/img/product-page-thumb-2.avif" alt="Фото продукта">
              </div>
            </a>
            <a data-fslightbox="gallery" href="src/assets/img/categories-hero-product-5.avif">
              <div class="product-gallery__img-wrapper">
                <img src="src/assets/img/product-page-thumb-3.avif" alt="Фото продукта">
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="product-hero__content">
        <div class="product-hero__top-content">
          <div class="product-hero__top-desc">
            <span class="product-hero__price-mobile">1 980 <span>руб</span></span>
            <p class="product-hero-text product-hero__product-desc">
              Сухая водорастворимая эмульсия «Medcann MD» на основе масла МСТ (и/или других масел, экстрактов) с содержанием изолята каннабидиола (CBD), порошок бело-желтого, молочного&nbsp;цвета,
              характерный для&nbsp;растительного продукта вкус и&nbsp;запах, растворяется в водных основах.
            </p>
            <span class="product-hero-text product-hero-text--sm product-hero__product-note" title="Но это не точно, ага">Не содержит добавок, консервантов</span>
          </div>
          <div class="product-hero__top-actions">
            <div class="quantity-select">
              <span class="quantity-select__title">Выберите объем:</span>
              <div class="custom-select">
                <div class="custom-select__select-display">1.00 кг</div>
                <ul class="custom-select__select-options">
                  <li class="custom-select__option" data-value="1">1.00 кг.</li>
                  <li class="custom-select__option" data-value="2">2.00 кг.</li>
                  <li class="custom-select__option" data-value="3">3.00 кг.</li>
                  <li class="custom-select__option" data-value="4">4.00 кг.</li>
                  <li class="custom-select__option" data-value="5">5.00 кг.</li>
                </ul>
              </div>
            </div>
            <span class="product-hero__top-price" data-js-product-price data-initial-price="1980">
              9 900 РУБ.
            </span>
          </div>
          <button class="btn-reset btn btn--lg product-hero__top-btn" data-dialog-btn="modal-extended" data-dialog-title="Запросить коммерческое предложение">Заказать продукт</button>
        </div>
        <ul class="list-reset product-hero-list">
          <li class="product-hero-list__item">
            <h3 class="product-hero-list__title">Состав</h3>
            <div class="product-hero-list__content">
              <ul class="list-reset ingredients">
                <li class="ingredients__item">
                  <p class="product-hero-text product-hero-text--md ingredients__text">Масло МСТ</p>
                </li>
                <li class="ingredients__item">
                  <p class="product-hero-text product-hero-text--md ingredients__text">Изолят Каннабидиола (CBD)</p>
                </li>
                <li class="ingredients__item">
                  <p class="product-hero-text product-hero-text--md ingredients__text">Мальтодекстрин</p>
                </li>
                <li class="ingredients__item">
                  <p class="product-hero-text product-hero-text--md ingredients__text">Эмульгатор пищевой</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="product-hero-list__item">
            <h3 class="product-hero-list__title">Описание</h3>
            <div class="product-hero-list__content">
              <ul class="list-reset product-table">
                <li class="product-table__item">
                  <span class="product-hero-text product-hero-text--md product-hero-text--bold">Группа</span>
                  <span class="product-hero-text product-hero-text--md">Сухие эмульсии</span>
                </li>
                <li class="product-table__item">
                  <span class="product-hero-text product-hero-text--md product-hero-text--bold">Производитель</span>
                  <span class="product-hero-text product-hero-text--md product-table-logo">Medcann, Россия</span>
                </li>
                <li class="product-table__item">
                  <span class="product-hero-text product-hero-text--md product-hero-text--bold">Тип эмульсии</span>
                  <span class="product-hero-text product-hero-text--md">Прямая</span>
                </li>
                <li class="product-table__item product-table__item--lg">
                  <span class="product-hero-text product-hero-text--md product-hero-text--bold">Условия хранения</span>
                  <span class="product-hero-text product-hero-text--md">Хранить в хорошо проветриваемом помещении при температуре от +7C° до +25C°, без доступа прямых солнечных лучей, света,
                    источников тепла и открытого огня. Упаковка должны быть герметически закрыта. Нет
                    специальных ограничений по хранению продукта с другими продуктами. Хранить в недоступном для детей месте.</span>
                </li>
                <li class="product-table__item">
                  <span class="product-hero-text product-hero-text--md product-hero-text--bold">Срок годности</span>
                  <span class="product-hero-text product-hero-text--md">24 месяца</span>
                </li>
                <li class="product-table__item">
                  <span class="product-hero-text product-hero-text--md product-hero-text--bold">Фасовка</span>
                  <span class="product-hero-text product-hero-text--md">1.00 — 5.00 кг.</span>
                </li>
                <li class="product-table__item">
                  <span class="product-hero-text product-hero-text--md product-hero-text--bold">Упаковка</span>
                  <span class="product-hero-text product-hero-text--md">банка ПП</span>
                </li>
              </ul>
            </div>
          </li>
          <li class="product-hero-list__item">
            <h3 class="product-hero-list__title">Рекомендуемая норма ввода:</h3>
            <div class="product-hero-list__content">
              <p class="product-hero-text product-hero-text--md">
                в зависимости от вида продукции от 0.3% до 20%;Расчет на примере сухих напитков, молотого кофе, саше: в 1 кг., сухой эмульсии SeedExCBDMD-5% содержится 50 000 мг. (50 гр.) CBD, это
                2000 порций при
                стандартной разовой норме потребления - 25 мг. Получается норма ввода SeedExCBDMD-5% на одну порцию - 0,5 гр.
              </p>
            </div>
          </li>
          <li class="product-hero-list__item">
            <h3 class="product-hero-list__title">Параметры ввода:</h3>
            <div class="product-hero-list__content">
              <p class="product-hero-text product-hero-text--md">
                Температура ввода от +15 C°до + 50 C°. При внесении эмульсии в состав продукта, необходимо качественное смешение для равномерного распределения эмульсии по продукту.
              </p>
            </div>
          </li>
          <li class="product-hero-list__item">
            <h3 class="product-hero-list__title">Преимущества:</h3>
            <div class="product-hero-list__content">
              <p class="product-hero-text product-hero-text--md">
                «Medcann CBD MD» – водорастворимая сухая эмульсия с содержанием водорастворимого CBD. Может быть легко растворена в любых водных средах. При применении «Medcann CBD MD» скорость
                проникновения активных
                веществ в несколько раз выше, чем при использовании масличных форм каннабидиола.
                С помощью мелкого разбиения масла МСТ и CBD решаются сразу две задачи:
              </p>
              <ul class="list-reset products-list-accent">
                <li class="products-list-accent__item">
                  <p class="product-hero-text product-hero-text--md">
                    Обеспечивается стабильность эмульсий как единого комплекса + более длительный срок хранения;
                  </p>
                </li>
                <li class="products-list-accent__item">
                  <p class="product-hero-text product-hero-text--md">
                    Обеспечивается более высокая эффективность применения масличной основы и CBD как ингредиента. Мелкие частицы лучше усваиваются в кровоток, имеют наибольший % активного
                    действия.Многочисленные свойства
                    эмульсий делают эти системы превосходными для использования в пищевой, косметической промышленности и при производстве сухих напитков. Среди таких свойств выделяются их способность
                    защищать, медленно
                    высвобождать и усиливать активность инкапсулированного материала CBD и масел в своем составе.
                  </p>
                </li>
              </ul>
            </div>
          </li>
          <li class="product-hero-list__item">
            <h3 class="product-hero-list__title">Применение:</h3>
            <div class="product-hero-list__content">
              <ul class="list-reset tags-list tags-list--dark-text">
                <li class="tags-list__item">
                  <span class="tags-list__text">Производство кофе с CBD</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Производство чая с CBD</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Производство напитков в саше с CBD</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Производство спортивных напитков</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Производство гейнеров</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Производство спортивного питания</span>
                </li>
                <li class="tags-list__item">
                  <span class="tags-list__text">Производство добавок в виде сливок и сахара с CBD</span>
                </li>
              </ul>
            </div>
          </li>
          <li class="product-hero-list__item">
            <h3 class="product-hero-list__title">Анализы и сертификаты</h3>
            <div class="product-hero-list__content">
              <ul class="list-reset product-certificates">
                <li class="product-certificates__item">
                  <a href="src/assets/docs/test.pdf" target="_blank" class="product-certificates__link">
                    Декларация о соответствии продукта
                    <svg width="16" height="14" viewBox="0 0 16 14" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7.29289 13.7071C7.68342 14.0976 8.31658 14.0976 8.70711 13.7071L15.0711 7.34315C15.4616 6.95262 15.4616 6.31946 15.0711 5.92893C14.6805 5.53841 14.0474 5.53841 13.6569 5.92893L8 11.5858L2.34315 5.92893C1.95262 5.53841 1.31946 5.53841 0.928932 5.92893C0.538407 6.31946 0.538407 6.95262 0.928932 7.34315L7.29289 13.7071ZM7 -8.06979e-08L7 13L9 13L9 8.06979e-08L7 -8.06979e-08Z" />
                    </svg>
                  </a>
                </li>
                <li class="product-certificates__item">
                  <a href="src/assets/docs/test.pdf" target="_blank" class="product-certificates__link">
                    Спецификация продукта
                    <svg width="16" height="14" viewBox="0 0 16 14" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7.29289 13.7071C7.68342 14.0976 8.31658 14.0976 8.70711 13.7071L15.0711 7.34315C15.4616 6.95262 15.4616 6.31946 15.0711 5.92893C14.6805 5.53841 14.0474 5.53841 13.6569 5.92893L8 11.5858L2.34315 5.92893C1.95262 5.53841 1.31946 5.53841 0.928932 5.92893C0.538407 6.31946 0.538407 6.95262 0.928932 7.34315L7.29289 13.7071ZM7 -8.06979e-08L7 13L9 13L9 8.06979e-08L7 -8.06979e-08Z" />
                    </svg>
                  </a>
                </li>
                <li class="product-certificates__item">
                  <a href="src/assets/docs/test.pdf" target="_blank" class="product-certificates__link">
                    Сертификат GMP
                    <svg width="16" height="14" viewBox="0 0 16 14" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7.29289 13.7071C7.68342 14.0976 8.31658 14.0976 8.70711 13.7071L15.0711 7.34315C15.4616 6.95262 15.4616 6.31946 15.0711 5.92893C14.6805 5.53841 14.0474 5.53841 13.6569 5.92893L8 11.5858L2.34315 5.92893C1.95262 5.53841 1.31946 5.53841 0.928932 5.92893C0.538407 6.31946 0.538407 6.95262 0.928932 7.34315L7.29289 13.7071ZM7 -8.06979e-08L7 13L9 13L9 8.06979e-08L7 -8.06979e-08Z" />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="product-hero__fixed-block">
    <button class="btn-reset btn" data-dialog-btn="modal-extended" data-dialog-title="Запросить коммерческое предложение">Заказать продукт</button>
  </div>
</section>