@use "@/scss/helpers" as *;

.compact-form {
  display: flex;
  flex-direction: column;
  padding: fluid(40, 82) fluid(24, 82) fluid(32, 82) fluid(24, 82);
  width: 100%;
  max-width: 550px;
  background-color: var(--col-white);

  @include max-576 {
    max-width: 100%;
  }

  &__caption {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: fluid(30, 60);
  }

  &__title {
    margin: 0;
    font-family: var(--ff-2);
    font-weight: 400;
    font-size: fluid(32, 40);
    color: var(--col-black);

    @include max-576 {
      max-width: 273px;
    }
  }

  &__desc {
    margin: 0;
    padding-right: 39px;
    font-weight: 400;
    font-size: fluid(22, 28);
    line-height: 1.428;
    letter-spacing: -0.07em;
    color: var(--col-black);
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: fluid(16, 48);
  }

  &__field {
    position: relative;
  }

  &__input {
    width: 100%;
    height: 69px;
    border-bottom: 1px solid var(--col-grey-light-1);
    font-weight: 400;
    font-size: fluid(18, 24);
    letter-spacing: -0.07em;
    color: var(--col-black);
    background-color: transparent;

    &:not(:placeholder-shown)+.compact-form__label {
      translate: -1px -45px;
      font-size: 15px;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__label {
    position: absolute;
    left: 2px;
    top: 50%;
    translate: 0 -50%;
    font-weight: 400;
    font-size: fluid(18, 24);
    letter-spacing: -0.07em;
    color: var(--col-grey-light-2);
    transition: translate var(--anim-normal);
    pointer-events: none;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__agreement {
    margin: 0;
    font-weight: 400;
    font-size: fluid(14, 18);
    letter-spacing: -0.07em;
    color: var(--col-grey-light-2);
  }
}