<section class="contacts-hero">
  <div class="container">
    <div class="contacts-hero__container">
      <div class="contacts-hero__wrapper">
        <div class="contacts-hero__caption">
          <h1 class="section-title contacts-hero__title">контакты</h1>
          <p class="contacts-hero-text contacts-hero-text--grey contacts-hero__desc">
            Все формы CBD и других Каннабиноидовдля пищевого и косметического производства
          </p>
        </div>
        <div class="contacts-hero__content">
          <p class="contacts-hero-text">
            Горячая линия по вопросам заказа и&nbsp;доставки продукции:
          </p>
          <a href="tel:+78005501982" class="link contacts-hero__phone">8 (800) 550-19-82</a>
          <p class="contacts-hero-text">
            Вы можете написать нам на электронную почту по адресу: <a class="contacts-hero__email" href="mailto:help@medcann.com">help@medcann.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>