<section class="contacts-map">
  <div class="contacts-map__container">
    <div class="contacts-map__wrapper">
      <div id="map" class="yandex-map"></div>
      <div class="contacts-map__content">
        <h2 class="section-title contacts-map__title">Адрес</h2>
        <address class="contacts-map__address">
          Россия, Москва, 1-й<br>Красногвардейский пр-д,<br>д. 20 стр. 1
        </address>
        <span class="contacts-map__schedulde">понедельник – четверг, 10:00 – 15:00</span>
      </div>
      <a href="https://yandex.com/maps/?ll=10.854186%2C49.182076&mode=routes&rtext=~55.751766%2C37.538521&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjcxNDA4NxJU0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsIDEt0Lkg0JrRgNCw0YHQvdC-0LPQstCw0YDQtNC10LnRgdC60LjQuSDQv9GA0L7QtdC30LQsIDIwIgoNcScWQhXPAV9C&z=4"
        class="btn contacts-map__btn">Построить маршрут</a>
    </div>
  </div>
</section>