<section class="contacts-form">
  <h2 class="visually-hidden">Свяжитесь с нами</h2>
  <div class="container">
    <div class="contacts-form__container">
      <form action="#!" class="page-form">
        <h3 class="section-title page-form__title">Запросить консультацию</h3>
        <div class="page-form__content">
          <p class="page-form__desc">Наш менеджер свяжется с вами<br>и ответит на все вопросы</p>
          <div class="page-form__fieldset">
            <div class="page-form__field page-form__field--lg">
              <input type="text" class="input-reset page-form__input" id="page-form-name" autocomplete="name" placeholder="">
              <label class="page-form__label" for="page-form-name">Имя или организация</label>
            </div>
            <div class="page-form__field">
              <input type="tel" class="input-reset page-form__input js-phone" id="page-form-phone" autocomplete="tel" placeholder="" required>
              <label class="page-form__label" for="page-form-phone">Номер телефона</label>
              <p class="input-error-message">Введите корректный номер телефона</p>
            </div>
            <div class="page-form__field">
              <input type="email" class="input-reset page-form__input" id="page-form-email" autocomplete="email" placeholder="" required>
              <label class="page-form__label" for="page-form-email">Электронная почта</label>
            </div>
          </div>
          <div class="page-form__actions">
            <p class="page-form__agreement">Нажимая «Отправить заявку» вы соглашаетесь с обработкой персональных даннных</p>
            <button class="btn-reset btn btn--lg page-form__btn" type="submit">Отправить заявку</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>