<section class="about-cbd">
  <div class="container">
    <div class="about-cbd__container">
      <h2 class="section-accent-title about-cbd__title"><span class="accent-text-primary">CBD</span> по всему миру</h2>
      <ul class="list-reset about-cbd__list">
        <li class="about-cbd__item">
          <span class="about-cbd__year"><time datetime="2017">2017</time></span>
          <p class="section-text section-text--sm section-text--white about-cbd__text">
            ВОЗ исключила CBD из списка № I наркотических веществ, признав что он не вызывает зависимость.
          </p>
        </li>
        <li class="about-cbd__item">
          <span class="about-cbd__year"><time datetime="2019">2019</time></span>
          <p class="section-text section-text--sm section-text--white about-cbd__text about-cbd__text--lg">
            Всемирное антидопинговое агентство вывело CBD из запрещенного списка, признав противовоспалительные свойства при реабилитации микротравм.
          </p>
        </li>
        <li class="about-cbd__item">
          <span class="about-cbd__year"><time datetime="2021">2021</time></span>
          <p class="section-text section-text--sm section-text--white about-cbd__text">
            Каждый третий житель США пробовал продукты с CBD. Более 8 миллионов британцев покупают CBD продукты.
          </p>
        </li>
        <li class="about-cbd__item">
          <span class="about-cbd__year"><time datetime="2024"><span class="about-cbd__decor-year" aria-hidden="true"></span></time></span>
          <p class="section-text section-text--sm section-text--white about-cbd__text">
            К 2024 году рынок CBD в России вырастит на 81%, большая часть которого придется на нашу продукцию.
          </p>
        </li>
      </ul>
      <a href="/about-page" class="circle-link circle-link--primary about-cbd__link">
        <span class="circle-link__icon-wrapper">
          <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z" />
          </svg>
        </span>
        <span class="circle-link__text circle-link__text--white">Подробнее</span>
      </a>

      <div class="clouds" aria-hidden="true">
        <img class="cloud cloud--left" src="src/assets/img/cloud-left-1.avif" style="--animation-duration:3" alt="" loading="lazy">
        <img class="cloud cloud--left" src="src/assets/img/cloud-left-2.avif" style="--animation-duration:4" alt="" loading="lazy">
        <img class="cloud cloud--left" src="src/assets/img/cloud-left-3.avif" style="--animation-duration:5" alt="" loading="lazy">
        <img class="cloud cloud--left" src="src/assets/img/cloud-left-4.avif" style="--animation-duration:6" alt="" loading="lazy">
        <img class="cloud cloud--right" src="src/assets/img/cloud-right-1.avif" style="--animation-duration:3" alt="" loading="lazy">
        <img class="cloud cloud--right" src="src/assets/img/cloud-right-2.avif" style="--animation-duration:4" alt="" loading="lazy">
        <img class="cloud cloud--right" src="src/assets/img/cloud-right-3.avif" style="--animation-duration:5" alt="" loading="lazy">
        <img class="cloud cloud--right" src="src/assets/img/cloud-right-top-1.avif" style="--animation-duration:5" alt="" loading="lazy">
        <img class="cloud cloud--right" src="src/assets/img/cloud-right-top-2.avif" style="--animation-duration:6" alt="" loading="lazy">
      </div>

    </div>
  </div>
</section>