<section class="about" id="about-section">
  <div class="container">
    <div class="about__header">
      <h2 class="section-title section-title--center">Рынок CBD в&nbsp;мире</h2>
      <p class="section-text section-text--center about__desc">
        Ожидается, что источник конопли будет доминировать на исследуемом рынке в течение прогнозируемого периода.
        <span class="accent-text-bg" data-js-change-text>Растущее внедрение</span> рафинированных продуктов CBD, наряду с растущим одобрением продуктов, полученных из конопли,
        для лекарственных средств для различных медицинских применений <span class="accent-text-bg" data-js-change-text>стимулирует рост этого сегмента.</span>
      </p>
    </div>
    <ul class="list-reset list-about">
      <li class="list-about__item">
        <article class="card-about">
          <h3 class="card-about__title">Растущий интерес к&nbsp;CBD среди производителей</h3>
          <p class="section-text section-text--sm">
            Все формы CBD и других Каннабиноидов для пищевого и косметического производства
          </p>
        </article>
      </li>
      <li class="list-about__item">
        <article class="card-about card-about--second">
          <h3 class="card-about__title">Растущий интерес к&nbsp;CBD среди производителей</h3>
          <p class="section-text section-text--sm">
            Все формы CBD и других Каннабиноидов для пищевого и косметического производства
          </p>
        </article>
      </li>
      <li class="list-about__item">
        <article class="card-about card-about--third">
          <h3 class="card-about__title">Растущий интерес к&nbsp;CBD среди производителей</h3>
          <p class="section-text section-text--sm">
            Все формы CBD и других Каннабиноидов для пищевого и косметического производства
          </p>
        </article>
      </li>
      <li class="list-about__item">
        <article class="card-about card-about--fourth">
          <h3 class="card-about__title">Растущий интерес к&nbsp;CBD среди производителей</h3>
          <p class="section-text section-text--sm">
            Все формы CBD и других Каннабиноидов для пищевого и косметического производства
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>