<section class="advs">
  <div class="advs__top top-advs">
    <div class="container">
      <div class="top-advs__container">
        <div class="top-advs__content">
          <p class="top-advs__pretitle">
            Мы ставим перед собой задачу стать <span class="accent-text-primary">глобальной компанией</span>, способной предоставить
            клиентам лучшее растительное сырье для разных целей использования.
          </p>
          <h2 class="section-accent-title top-advs__title">Сырье&nbsp;<span class="test">№1</span> в&nbsp;России и СНГ</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="advs__bottom bottom-advs">
    <div class="container">
      <div class="bottom-advs__container">
        <div class="bottom-advs__top">
          <div class="bottom-advs__text-block">
            <p class="section-text bottom-advs__desktop-text">
              Экологически чистый продукт созданный на основе последних исследований в&nbsp;области медицины.
            </p>
            <p class="section-text bottom-advs__mobile-text">
              Мы ставим перед собой задачу стать <span class="accent-text-primary">глобальной компанией</span>, способной предоставить клиентам лучшее растительное сырье для разных целей
              использования.
            </p>
          </div>
          <ul class="list-reset bottom-advs__list list-advs">
            <li class="list-advs__item">
              <span class="list-advs__text">Собственное производство</span>
            </li>
            <li class="list-advs__item list-advs__item--second">
              <span class="list-advs__text">Лицензия на&nbsp;работу с&nbsp;1&nbsp;списком</span>
            </li>
            <li class="list-advs__item list-advs__item--third">
              <span class="list-advs__text">лаборатория в&nbsp;НИИ&nbsp;Сеченова</span>
            </li>
            <li class="list-advs__item list-advs__item--fourth">
              <span class="list-advs__text">Докритическая co2–экстракция</span>
            </li>
          </ul>
        </div>
        <div class="bottom-advs__footer">
          <div class="bottom-advs__legal-department">
            <span>Юридический раздел</span>
          </div>
          <ul class="list-reset advs__links links-advs">
            <li class="links-advs__item links-advs__item--desktop">
              <a href="#!" class="btn">Документы и лицензии</a>
            </li>
            <li class="links-advs__item links-advs__item--desktop">
              <a href="#!" class="btn btn--secondary">Анализы</a>
            </li>
            <li class="links-advs__item links-advs__item--desktop">
              <a href="#!" class="btn btn--secondary">Производственные сертификаты</a>
            </li>
            <li class="links-advs__item links-advs__item--mobile">
              <a href="#!" class="btn btn--wa btn--secondary links-advs__btn">Перейти</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>