<section class="blog">
  <h2 class="visually-hidden">Пишем о CBD индустрии</h2>
  <div class="blog-desktop">
    <div class="container">
      <div class="blog-desktop__container">
        <div class="blog-desktop__data">
          <span class="section-title">Пишем о&nbsp;CBD индустрии</span>
          <div class="blog-tabs" data-js-tabs>
            <div class="blog-tabs__tablist blog-tabs__tablist--desktop" role="tablist" aria-label="Блог">
              <button class="btn-reset blog-tabs__btn is-active" role="tab" aria-selected="true" aria-controls="blog-panel-1" id="blog-tab-1" tabindex="0" data-js-tabs-button
                data-topics-count="12">Медицина</button>
              <button class="btn-reset blog-tabs__btn" role="tab" aria-selected="true" aria-controls="blog-panel-2" id="blog-tab-2" tabindex="-1" data-js-tabs-button data-topics-count="58">Продукты
                питания</button>
              <button class="btn-reset blog-tabs__btn" role="tab" aria-selected="true" aria-controls="blog-panel-3" id="blog-tab-3" tabindex="-1" data-js-tabs-button
                data-topics-count="17">Спорт</button>
              <button class="btn-reset blog-tabs__btn" role="tab" aria-selected="true" aria-controls="blog-panel-4" id="blog-tab-4" tabindex="-1" data-js-tabs-button data-topics-count="8">Нервная
                система</button>
              <button class="btn-reset blog-tabs__btn" role="tab" aria-selected="true" aria-controls="blog-panel-5" id="blog-tab-5" tabindex="-1" data-js-tabs-button
                data-topics-count="4">Исследования</button>
              <button class="btn-reset blog-tabs__btn" role="tab" aria-selected="true" aria-controls="blog-panel-6" id="blog-tab-6" tabindex="-1" data-js-tabs-button
                data-topics-count="6">Другое</button>
            </div>
          </div>
        </div>
        <div class="blog-desktop__content">
          <div class="blog-tabs-content is-active" id="blog-panel-1" role="tabpanel" tabindex="0" aria-labelledby="blog-tab-1" data-js-tabs-content>
            <ul class="list-reset blog-desktop__list">
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-1.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">Производство CBD напитков в&nbsp;России</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-10-12">12 октября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-2.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-10-11">11 октября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-3.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-09-30">30 сентября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
            </ul>
          </div>
          <div class="blog-tabs-content" id="blog-panel-2" role="tabpanel" tabindex="0" aria-labelledby="blog-tab-2" data-js-tabs-content>
            <ul class="list-reset blog-desktop__list">
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-4.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-09-30">30 сентября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-5.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">Производство CBD напитков в&nbsp;России</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-10-12">12 октября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-6.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-10-11">11 октября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
            </ul>
          </div>
          <div class="blog-tabs-content" id="blog-panel-3" role="tabpanel" tabindex="0" aria-labelledby="blog-tab-3" data-js-tabs-content>
            <ul class="list-reset blog-desktop__list">
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-7.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">Производство CBD напитков в&nbsp;России</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-10-12">12 октября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-3.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-09-30">30 сентября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-2.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-10-11">11 октября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
            </ul>
          </div>
          <div class="blog-tabs-content" id="blog-panel-4" role="tabpanel" tabindex="0" aria-labelledby="blog-tab-4" data-js-tabs-content>
            <ul class="list-reset blog-desktop__list">
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-8.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">Производство CBD напитков в&nbsp;России</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-10-12">12 октября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-2.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-10-11">11 октября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-3.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-09-30">30 сентября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
            </ul>
          </div>
          <div class="blog-tabs-content" id="blog-panel-5" role="tabpanel" tabindex="0" aria-labelledby="blog-tab-5" data-js-tabs-content>
            <ul class="list-reset blog-desktop__list">
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-2.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-09-30">30 сентября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-5.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">Производство CBD напитков в&nbsp;России</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-10-12">12 октября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-6.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-10-11">11 октября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
            </ul>
          </div>
          <div class="blog-tabs-content" id="blog-panel-6" role="tabpanel" tabindex="0" aria-labelledby="blog-tab-6" data-js-tabs-content>
            <ul class="list-reset blog-desktop__list">
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-7.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">Производство CBD напитков в&nbsp;России</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-10-12">12 октября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-2.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-10-11">11 октября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
              <li class="blog-desktop__item">
                <article class="blog-card">
                  <div class="blog-card__img">
                    <img src="src/assets/img/blog-card-img-8.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                  </div>
                  <div class="blog-card__content">
                    <h3 class="blog-card__title">
                      <a href="/blog-inner" class="blog-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                    </h3>
                    <span class="blog-card__date"><time datetime="2025-09-30">30 сентября</time></span>
                    <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                  </div>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-mobile">
    <div class="blog-mobile__container">
      <div class="blog-mobile__data">
        <span class="section-title blog-mobile__title">Пишем о&nbsp;CBD индустрии</span>
        <div class="blog-tabs" data-js-tabs>
          <div class="blog-tabs__tablist" role="tablist" aria-label="Блог">
            <button class="btn-reset blog-tabs__btn is-active" role="tab" aria-selected="true" aria-controls="blog-mobile-panel-1" id="blog-mobile-tab-1" tabindex="0" data-js-tabs-button
              data-topics-count="12">Медицина</button>
            <button class="btn-reset blog-tabs__btn" role="tab" aria-selected="true" aria-controls="blog-mobile-panel-2" id="blog-mobile-tab-2" tabindex="-1" data-js-tabs-button
              data-topics-count="58">Продукты
              питания</button>
            <button class="btn-reset blog-tabs__btn" role="tab" aria-selected="true" aria-controls="blog-mobile-panel-3" id="blog-mobile-tab-3" tabindex="-1" data-js-tabs-button
              data-topics-count="17">Спорт</button>
            <button class="btn-reset blog-tabs__btn" role="tab" aria-selected="true" aria-controls="blog-mobile-panel-4" id="blog-mobile-tab-4" tabindex="-1" data-js-tabs-button
              data-topics-count="8">Нервная
              система</button>
            <button class="btn-reset blog-tabs__btn" role="tab" aria-selected="true" aria-controls="blog-mobile-panel-5" id="blog-mobile-tab-5" tabindex="-1" data-js-tabs-button
              data-topics-count="4">Исследования</button>
            <button class="btn-reset blog-tabs__btn" role="tab" aria-selected="true" aria-controls="blog-mobile-panel-6" id="blog-mobile-tab-6" tabindex="-1" data-js-tabs-button
              data-topics-count="6">Другое</button>
          </div>
        </div>
      </div>
      <div class="blog-mobile__content">
        <div class="blog-tabs-content is-active" id="blog-mobile-panel-1" role="tabpanel" tabindex="0" aria-labelledby="blog-mobile-tab-1" data-js-tabs-content>
          <div class="slider slider-blog" data-js-slider='{"spaceBetween":26,"slidesPerView":"1.09","slidesOffsetAfter":26,"breakpoints":{"376":{"slidesPerView":1.5}}}'>
            <div class="swiper slider-blog__swiper" data-js-slider-swiper="blog-category-1">
              <div class="swiper-wrapper">
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-1.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Производство CBD напитков в&nbsp;России</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-10-12">12 октября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-2.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-10-11">11 октября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-3.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-09-30">30 сентября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-tabs-content" id="blog-mobile-panel-2" role="tabpanel" tabindex="0" aria-labelledby="blog-mobile-tab-2" data-js-tabs-content>
          <div class="slider slider-blog" data-js-slider='{"spaceBetween":26,"slidesPerView":"1.09","slidesOffsetAfter":26,"breakpoints":{"376":{"slidesPerView":1.5}}}'>
            <div class="swiper slider-blog__swiper" data-js-slider-swiper="blog-category-1">
              <div class="swiper-wrapper">
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-4.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-10-12">12 октября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-5.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Производство CBD напитков в&nbsp;России</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-10-11">11 октября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-6.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-09-30">30 сентября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-tabs-content" id="blog-mobile-panel-3" role="tabpanel" tabindex="0" aria-labelledby="blog-mobile-tab-3" data-js-tabs-content>
          <div class="slider slider-blog" data-js-slider='{"spaceBetween":26,"slidesPerView":"1.09","slidesOffsetAfter":26,"breakpoints":{"376":{"slidesPerView":1.5}}}'>
            <div class="swiper slider-blog__swiper" data-js-slider-swiper="blog-category-1">
              <div class="swiper-wrapper">
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-7.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-10-12">12 октября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-5.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Производство CBD напитков в&nbsp;России</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-10-11">11 октября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-6.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Прорыв в научных исследованиях</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-09-30">30 сентября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-tabs-content" id="blog-mobile-panel-4" role="tabpanel" tabindex="0" aria-labelledby="blog-mobile-tab-4" data-js-tabs-content>
          <div class="slider slider-blog" data-js-slider='{"spaceBetween":26,"slidesPerView":"1.09","slidesOffsetAfter":26,"breakpoints":{"376":{"slidesPerView":1.5}}}'>
            <div class="swiper slider-blog__swiper" data-js-slider-swiper="blog-category-1">
              <div class="swiper-wrapper">
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-8.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-10-12">12 октября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-5.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Производство CBD напитков в&nbsp;России</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-10-11">11 октября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-6.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Прорыв в научных исследованиях</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-09-30">30 сентября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-tabs-content" id="blog-mobile-panel-5" role="tabpanel" tabindex="0" aria-labelledby="blog-mobile-tab-5" data-js-tabs-content>
          <div class="slider slider-blog" data-js-slider='{"spaceBetween":26,"slidesPerView":"1.09","slidesOffsetAfter":26,"breakpoints":{"376":{"slidesPerView":1.5}}}'>
            <div class="swiper slider-blog__swiper" data-js-slider-swiper="blog-category-1">
              <div class="swiper-wrapper">
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-4.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">CBD и спорт: как восстанавливаться после тренировок</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-10-12">12 октября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-5.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Производство CBD напитков в&nbsp;России</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-10-11">11 октября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-6.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-09-30">30 сентября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-tabs-content" id="blog-mobile-panel-6" role="tabpanel" tabindex="0" aria-labelledby="blog-mobile-tab-6" data-js-tabs-content>
          <div class="slider slider-blog" data-js-slider='{"spaceBetween":26,"slidesPerView":"1.09","slidesOffsetAfter":26,"breakpoints":{"376":{"slidesPerView":1.5}}}'>
            <div class="swiper slider-blog__swiper" data-js-slider-swiper="blog-category-1">
              <div class="swiper-wrapper">
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-7.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Важные результаты исследования CBD, опубликованные Radicle Science</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-10-12">12 октября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-5.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Производство CBD напитков в&nbsp;России</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-10-11">11 октября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
                <div class="swiper-slide slider-blog__slide">
                  <article class="blog-card">
                    <div class="blog-card__img">
                      <img src="src/assets/img/blog-card-img-6.avif" alt="Карточка статьи" width="296" height="218" loading="lazy">
                    </div>
                    <div class="blog-card__content">
                      <h3 class="blog-card__title">
                        <a href="/blog-inner" class="blog-card__link">Прорыв в научных исследованиях</a>
                      </h3>
                      <span class="blog-card__date"><time datetime="2025-09-30">30 сентября</time></span>
                      <a href="/blog-inner" class="btn btn--secondary blog-card__btn">Читать</a>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="blog__btn-container">
      <a href="/blog-page" class="circle-link circle-link--secondary">
        <span class="circle-link__icon-wrapper">
          <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
            </path>
          </svg>
        </span>
        <span class="circle-link__text">Показать больше</span>
      </a>
    </div>
  </div>
</section>