<section class="categories">
  <div class="container">
    <div class="categories__container">
      <div class="categories__caption">
        <h2 class="section-title">Категории продукции</h2>
        <p class="section-text categories__desc">
          Все формы CBD и других Каннабиноидовдля пищевого и косметического производства
        </p>
      </div>
      <ul class="list-reset categories__list">
        <li class="categories__item accordion-categories accordion-categories--second" data-js-accordion>
          <button class="btn-reset accordion-categories__control" aria-expanded="false" data-js-accordion-control>
            <span class="accordion-categories__title">Сырье для напитков</span>
            <span class="accordion-categories__icon"></span>
          </button>
          <div class="accordion-categories__content" data-js-accordion-content>
            <div class="accordion-categories__wrapper">
              <p class="section-text section-text--sm">
                Косметические продукты Hemp – это мировой тренд на рынке натуральных компонентов для создания эффективных косметических средств на водной и масляной основе.
              </p>
              <a href="/categories-inner" class="btn accordion-categories__btn">В категорию</a>
            </div>
          </div>
        </li>
        <li class="categories__item accordion-categories open" data-js-accordion>
          <button class="btn-reset accordion-categories__control" aria-expanded="true" data-js-accordion-control>
            <span class="accordion-categories__title">Сырье для косметики</span>
            <span class="accordion-categories__icon"></span>
          </button>
          <div class="accordion-categories__content" data-js-accordion-content>
            <div class="accordion-categories__wrapper">
              <p class="section-text section-text--sm">
                Косметические продукты Hemp – это мировой тренд на рынке натуральных компонентов для создания эффективных косметических средств на водной и масляной основе.
              </p>
              <a href="/categories-inner" class="btn accordion-categories__btn">В категорию</a>
            </div>
          </div>
        </li>
        <li class="categories__item accordion-categories accordion-categories--third" data-js-accordion>
          <button class="btn-reset accordion-categories__control" aria-expanded="false" data-js-accordion-control>
            <span class="accordion-categories__title">Сырье для пищевой продукции</span>
            <span class="accordion-categories__icon"></span>
          </button>
          <div class="accordion-categories__content" data-js-accordion-content>
            <div class="accordion-categories__wrapper">
              <p class="section-text section-text--sm">
                Косметические продукты Hemp – это мировой тренд на рынке натуральных компонентов для создания эффективных косметических средств на водной и масляной основе.
              </p>
              <a href="/categories-inner" class="btn accordion-categories__btn">В категорию</a>
            </div>
          </div>
        </li>
        <li class="categories__item accordion-categories accordion-categories--fourth" data-js-accordion>
          <button class="btn-reset accordion-categories__control" aria-expanded="false" data-js-accordion-control>
            <span class="accordion-categories__title">Сырье для табака и вейпа</span>
            <span class="accordion-categories__icon"></span>
          </button>
          <div class="accordion-categories__content" data-js-accordion-content>
            <div class="accordion-categories__wrapper">
              <p class="section-text section-text--sm">
                Косметические продукты Hemp – это мировой тренд на рынке натуральных компонентов для создания эффективных косметических средств на водной и масляной основе.
              </p>
              <a href="/categories-inner" class="btn accordion-categories__btn">В категорию</a>
            </div>
          </div>
        </li>
        <li class="categories__item accordion-categories accordion-categories--fifth" data-js-accordion>
          <button class="btn-reset accordion-categories__control" aria-expanded="false" data-js-accordion-control>
            <span class="accordion-categories__title">Сырье для масла CBD</span>
            <span class="accordion-categories__icon"></span>
          </button>
          <div class="accordion-categories__content" data-js-accordion-content>
            <div class="accordion-categories__wrapper">
              <p class="section-text section-text--sm">
                Косметические продукты Hemp – это мировой тренд на рынке натуральных компонентов для создания эффективных косметических средств на водной и масляной основе.
              </p>
              <a href="/categories-inner" class="btn accordion-categories__btn">В категорию</a>
            </div>
          </div>
        </li>
        <li class="categories__item accordion-categories accordion-categories--sixth" data-js-accordion>
          <button class="btn-reset accordion-categories__control" aria-expanded="false" data-js-accordion-control>
            <span class="accordion-categories__title">Сырье для животных</span>
            <span class="accordion-categories__icon"></span>
          </button>
          <div class="accordion-categories__content" data-js-accordion-content>
            <div class="accordion-categories__wrapper">
              <p class="section-text section-text--sm">
                Косметические продукты Hemp – это мировой тренд на рынке натуральных компонентов для создания эффективных косметических средств на водной и масляной основе.
              </p>
              <a href="/categories-inner" class="btn accordion-categories__btn">В категорию</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>