<div class="menu" data-js-menu>
  <div class="container menu__container">
    <div class="menu__wrapper">
      <nav class="menu__nav nav-menu">
        <ul class="list-reset nav-menu__list">
          <li class="nav-menu__item"><a href="/" class="nav-menu__link">Главная</a></li>
          <li class="nav-menu__item"><a href="/production" class="nav-menu__link">Продукция</a></li>
          <li class="nav-menu__item"><a href="/categories-page" class="nav-menu__link">Категории</a></li>
          <li class="nav-menu__item"><a href="/about-page" class="nav-menu__link">О нас</a></li>
          <li class="nav-menu__item"><a href="/blog-page" class="nav-menu__link">Блог</a></li>
          <li class="nav-menu__item"><a href="/contacts" class="nav-menu__link">Контакты</a></li>
        </ul>
      </nav>
      <div class="menu__content">
        <div class="menu__phone-block">
          <span class="menu__phone-text">Горячая линия по вопросам заказа и доставки продукции:</span>
          <a href="tel:+78005501982" class="link menu__phone">8 (800) 550-19-82</a>
        </div>
        <button class="btn-reset btn menu__btn" data-dialog-btn="modal-extended" data-dialog-title="Запросить консультацию">Запросить консультацию</button>
      </div>
    </div>
  </div>
</div>