<section class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <h2 class="section-title faq__title">Частые<br> вопросы</h2>
      <div class="faq__content">
        <ul class="list-reset faq__list">
          <li class="faq__item accordion-faq" data-js-accordion>
            <button class="btn-reset accordion-faq__control" aria-expanded="false" data-js-accordion-control>
              <span class="accordion-faq__title">Правовая сторона CBD</span>
              <span class="accordion-faq__icon"></span>
            </button>
            <div class="accordion-faq__content" aria-hidden="true" data-js-accordion-content>
              <div class="accordion-faq__wrapper">
                <p class="section-text section-text--sm accordion-faq__text">
                  Косметические продукты Hemp – это мировой тренд на рынке натуральных компонентов для создания эффективных косметических средств на водной и масляной основе.
                </p>
              </div>
            </div>
          </li>
          <li class="faq__item accordion-faq" data-js-accordion>
            <button class="btn-reset accordion-faq__control" aria-expanded="false" data-js-accordion-control>
              <span class="accordion-faq__title">Где можно применять CBD продукцию?</span>
              <span class="accordion-faq__icon"></span>
            </button>
            <div class="accordion-faq__content" aria-hidden="true" data-js-accordion-content>
              <div class="accordion-faq__wrapper">
                <p class="section-text section-text--sm accordion-faq__text">
                  Косметические продукты Hemp – это мировой тренд на рынке натуральных компонентов для создания эффективных косметических средств на водной и масляной основе.
                </p>
              </div>
            </div>
          </li>
          <li class="faq__item accordion-faq" data-js-accordion>
            <button class="btn-reset accordion-faq__control" aria-expanded="false" data-js-accordion-control>
              <span class="accordion-faq__title">Какие продукты вы выпускаете?</span>
              <span class="accordion-faq__icon"></span>
            </button>
            <div class="accordion-faq__content" aria-hidden="true" data-js-accordion-content>
              <div class="accordion-faq__wrapper">
                <p class="section-text section-text--sm accordion-faq__text">
                  Косметические продукты Hemp – это мировой тренд на рынке натуральных компонентов для создания эффективных косметических средств на водной и масляной основе.
                </p>
              </div>
            </div>
          </li>
          <li class="faq__item accordion-faq" data-js-accordion>
            <button class="btn-reset accordion-faq__control" aria-expanded="false" data-js-accordion-control>
              <span class="accordion-faq__title">Есть ли необходимые документы?</span>
              <span class="accordion-faq__icon"></span>
            </button>
            <div class="accordion-faq__content" aria-hidden="true" data-js-accordion-content>
              <div class="accordion-faq__wrapper">
                <p class="section-text section-text--sm accordion-faq__text">
                  Косметические продукты Hemp – это мировой тренд на рынке натуральных компонентов для создания эффективных косметических средств на водной и масляной основе.
                </p>
              </div>
            </div>
          </li>
          <li class="faq__item accordion-faq" data-js-accordion>
            <button class="btn-reset accordion-faq__control" aria-expanded="false" data-js-accordion-control>
              <span class="accordion-faq__title">Что говорят врачи?</span>
              <span class="accordion-faq__icon"></span>
            </button>
            <div class="accordion-faq__content" aria-hidden="true" data-js-accordion-content>
              <div class="accordion-faq__wrapper">
                <p class="section-text section-text--sm accordion-faq__text">
                  Косметические продукты Hemp – это мировой тренд на рынке натуральных компонентов для создания эффективных косметических средств на водной и масляной основе.
                </p>
              </div>
            </div>
          </li>
        </ul>
        <div class="faq__cta">
          <span class="section-text section-text--md faq__cta-text">Не нашли, что искали? Пожалуйста напишите нам.</span>
          <button class="btn-reset btn btn--lg faq__cta-btn" data-dialog-btn="modal-extended" data-dialog-title="Получить консультацию">Отправить заявку</button>
        </div>
      </div>
    </div>
  </div>
</section>