<header class="header">
  <div class="container header__container">
    <div class="header__data">
      <a href="/" class="header__logo" title="Домашняя страница" aria-label="Домашняя страница">
        <img src="src/assets/img/logo.svg" alt="Логотип компании" width="199" height="36">
      </a>
      <nav class="header__nav nav">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="/" class="nav__link">Главная</a></li>
          <li class="nav__item"><a href="/production" class="nav__link">Продукция</a></li>
          <li class="nav__item"><a href="/categories-page" class="nav__link">Категории</a></li>
          <li class="nav__item"><a href="/about-page" class="nav__link">О нас</a></li>
          <li class="nav__item"><a href="/blog-page" class="nav__link">Блог</a></li>
          <li class="nav__item"><a href="/contacts" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__actions">
      <a href="tel:+78005501982" class="link header__phone">8 (800) 550-19-82</a>
      <button class="btn-reset btn header__btn" data-dialog-btn="modal-compact" data-dialog-title="Заказать звонок">Заказать звонок</button>
      <button class="btn-reset burger" data-js-burger aria-label="Кнопка меню">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>