<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <p class="section-title-desc hero__desc">
          Все формы CBD и других каннабиноидов для пищевого и&nbsp;косметического производства
        </p>
        <h1 class="section-accent-title hero__title">
          CBD для бизнеса
        </h1>
        <a href="#about-section" class="circle-link circle-link--hero">
          <span class="circle-link__icon-wrapper circle-link__icon-wrapper--hero">
            <svg class="circle-link__icon circle-link__icon--hero" width="16" height="25" viewBox="0 0 16 25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.29289 24.7071C7.68342 25.0976 8.31658 25.0976 8.7071 24.7071L15.0711 18.3431C15.4616 17.9526 15.4616 17.3195 15.0711 16.9289C14.6805 16.5384 14.0474 16.5384 13.6569 16.9289L8 22.5858L2.34314 16.9289C1.95262 16.5384 1.31946 16.5384 0.928931 16.9289C0.538406 17.3195 0.538406 17.9526 0.928931 18.3431L7.29289 24.7071ZM8 0L7 -8.37802e-08L7 24L8 24L9 24L9 8.37802e-08L8 0Z" />
            </svg>
          </span>
          <span class="circle-link__text circle-link__text--white">Подробнее</span>
        </a>
      </div>
    </div>
  </div>
</section>