<section class="products">
  <div class="container">
    <div class="products__caption">
      <h2 class="section-accent-title section-accent-title--black products__title">Выпускаемые продукты</h2>
      <h2 class="section-accent-title section-accent-title--black products__title products__title--mobile">Продукты</h2>
      <div class="products__desc-block">
        <p class="section-text">
          Все формы CBD и других Каннабиноидовдля пищевого и косметического производства
        </p>
        <a href="/production" class="circle-link circle-link--primary">
          <span class="circle-link__icon-wrapper">
            <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
              </path>
            </svg>
          </span>
          <span class="circle-link__text">Подробнее</span>
        </a>
      </div>
    </div>
    <ul class="list-reset products__list">
      <li class="products__item">
        <article class="product-card">
          <div class="product-card__img-wrapper">
            <img class="product-card__img" src="src/assets/img/product-card-1.avif" alt="Продукт" width="532" height="353" loading="lazy">
          </div>
          <div class="product-card__content">
            <div class="product-card__desc">
              <h3 class="product-card__title">Medcann CBD MD</h3>
              <span class="product-card__text">Сухая эмульсия CBD</span>
            </div>
            <a href="/product-page" class="product-card__link" aria-label="Перейти к продукту">
              <svg class="product-card__link-icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z" />
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card">
          <div class="product-card__img-wrapper">
            <img class="product-card__img" src="src/assets/img/product-card-2.avif" alt="Продукт" width="532" height="353" loading="lazy">
          </div>
          <div class="product-card__content">
            <div class="product-card__desc">
              <h3 class="product-card__title">Medcann CBD X</h3>
              <span class="product-card__text">Растительный экстракт CBD Isolate > 99%</span>
            </div>
            <a href="/product-page" class="product-card__link" aria-label="Перейти к продукту">
              <svg class="product-card__link-icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z" />
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card">
          <div class="product-card__img-wrapper">
            <img class="product-card__img" src="src/assets/img/product-card-3.avif" alt="Продукт" width="532" height="353" loading="lazy">
          </div>
          <div class="product-card__content">
            <div class="product-card__desc">
              <h3 class="product-card__title">Medcann CBD MD</h3>
              <span class="product-card__text">Сухая эмульсия CBD</span>
            </div>
            <a href="/product-page" class="product-card__link" aria-label="Перейти к продукту">
              <svg class="product-card__link-icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z" />
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card">
          <div class="product-card__img-wrapper">
            <img class="product-card__img" src="src/assets/img/product-card-3.avif" alt="Продукт" width="532" height="353" loading="lazy">
          </div>
          <div class="product-card__content">
            <div class="product-card__desc">
              <h3 class="product-card__title">Medcann CBD MD</h3>
              <span class="product-card__text">Сухая эмульсия CBD</span>
            </div>
            <a href="/product-page" class="product-card__link" aria-label="Перейти к продукту">
              <svg class="product-card__link-icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z" />
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card">
          <div class="product-card__img-wrapper">
            <img class="product-card__img" src="src/assets/img/product-card-1.avif" alt="Продукт" width="532" height="353" loading="lazy">
          </div>
          <div class="product-card__content">
            <div class="product-card__desc">
              <h3 class="product-card__title">Medcann CBD MD</h3>
              <span class="product-card__text">Сухая эмульсия CBD</span>
            </div>
            <a href="/product-page" class="product-card__link" aria-label="Перейти к продукту">
              <svg class="product-card__link-icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z" />
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card">
          <div class="product-card__img-wrapper">
            <img class="product-card__img" src="src/assets/img/product-card-2.avif" alt="Продукт" width="532" height="353" loading="lazy">
          </div>
          <div class="product-card__content">
            <div class="product-card__desc">
              <h3 class="product-card__title">Medcann CBD MD</h3>
              <span class="product-card__text">Сухая эмульсия CBD</span>
            </div>
            <a href="/product-page" class="product-card__link" aria-label="Перейти к продукту">
              <svg class="product-card__link-icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z" />
              </svg>
            </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>