@use "@/scss/helpers" as *;

.contacts-form {
  padding-top: fluid(58, 114);
  padding-bottom: fluid(60.5, 119.5);

  &__container {
    max-width: 1574px;

    @include max-1920 {
      max-width: 100%;
    }
  }
}