<section class="categories-hero">
  <div class="container">
    <h1 class="section-title categories-hero__title">Категории продукции</h1>
    <div class="categories-hero__desktop">
      <ul class="list-reset categories-hero-list">
        <li class="categories-hero-list__item categories-hero-card">
          <div class="categories-hero-card__content">
            <div class="categories-hero-card__front">
              <h3 class="categories-hero-card__title">Сырье для<br>напитков</h3>
              <a href="/categories-inner" class="circle-link circle-link--secondary categories-hero-card__link">
                <span class="circle-link__icon-wrapper">
                  <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                    </path>
                  </svg>
                </span>
                <span class="circle-link__text">Подробнее</span>
              </a>
            </div>
            <div class="categories-hero-card__back">
              <span class="categories-hero-card__title categories-hero-card__title--back">Сырье для<br>напитков</span>
              <a href="/categories-inner" class="circle-link circle-link--secondary categories-hero-card__link">
                <span class="circle-link__icon-wrapper">
                  <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                    </path>
                  </svg>
                </span>
                <span class="circle-link__text">Подробнее</span>
              </a>
              <img class="categories-hero-card__img" src="src/assets/img/categories-hero-product-2.avif" alt="Фото продукта" width="276" height="413">
            </div>
          </div>
        </li>
        <li class="categories-hero-list__item categories-hero-card">
          <div class="categories-hero-card__content">
            <div class="categories-hero-card__front">
              <h3 class="categories-hero-card__title">Сырье для<br>косметики</h3>
              <a href="/categories-inner" class="circle-link circle-link--secondary categories-hero-card__link">
                <span class="circle-link__icon-wrapper">
                  <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                    </path>
                  </svg>
                </span>
                <span class="circle-link__text">Подробнее</span>
              </a>
            </div>
            <div class="categories-hero-card__back">
              <span class="categories-hero-card__title categories-hero-card__title--back">Сырье для<br>косметики</span>
              <a href="/categories-inner" class="circle-link circle-link--secondary categories-hero-card__link">
                <span class="circle-link__icon-wrapper">
                  <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                    </path>
                  </svg>
                </span>
                <span class="circle-link__text">Подробнее</span>
              </a>
              <img class="categories-hero-card__img" src="src/assets/img/categories-hero-product-1.avif" alt="Фото продукта" width="276" height="413">
            </div>
          </div>
        </li>
        <li class="categories-hero-list__item categories-hero-card">
          <div class="categories-hero-card__content">
            <div class="categories-hero-card__front">
              <h3 class="categories-hero-card__title">Сырье для<br>пищевой продукции</h3>
              <a href="/categories-inner" class="circle-link circle-link--secondary categories-hero-card__link">
                <span class="circle-link__icon-wrapper">
                  <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                    </path>
                  </svg>
                </span>
                <span class="circle-link__text">Подробнее</span>
              </a>
            </div>
            <div class="categories-hero-card__back">
              <span class="categories-hero-card__title categories-hero-card__title--back">Сырье для<br>пищевой продукции</span>
              <a href="/categories-inner" class="circle-link circle-link--secondary categories-hero-card__link">
                <span class="circle-link__icon-wrapper">
                  <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                    </path>
                  </svg>
                </span>
                <span class="circle-link__text">Подробнее</span>
              </a>
              <img class="categories-hero-card__img" src="src/assets/img/categories-hero-product-3.avif" alt="Фото продукта" width="276" height="413">
            </div>
          </div>
        </li>
        <li class="categories-hero-list__item categories-hero-card">
          <div class="categories-hero-card__content">
            <div class="categories-hero-card__front">
              <h3 class="categories-hero-card__title">Сырье для<br>табака и вейпа</h3>
              <a href="/categories-inner" class="circle-link circle-link--secondary categories-hero-card__link">
                <span class="circle-link__icon-wrapper">
                  <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                    </path>
                  </svg>
                </span>
                <span class="circle-link__text">Подробнее</span>
              </a>
            </div>
            <div class="categories-hero-card__back">
              <span class="categories-hero-card__title categories-hero-card__title--back">Сырье для<br>табака и вейпа</span>
              <a href="/categories-inner" class="circle-link circle-link--secondary categories-hero-card__link">
                <span class="circle-link__icon-wrapper">
                  <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                    </path>
                  </svg>
                </span>
                <span class="circle-link__text">Подробнее</span>
              </a>
              <img class="categories-hero-card__img" src="src/assets/img/categories-hero-product-4.avif" alt="Фото продукта" width="276" height="413">
            </div>
          </div>
        </li>
        <li class="categories-hero-list__item categories-hero-card">
          <div class="categories-hero-card__content">
            <div class="categories-hero-card__front">
              <h3 class="categories-hero-card__title">Сырье для<br>масла CBD</h3>
              <a href="/categories-inner" class="circle-link circle-link--secondary categories-hero-card__link">
                <span class="circle-link__icon-wrapper">
                  <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                    </path>
                  </svg>
                </span>
                <span class="circle-link__text">Подробнее</span>
              </a>
            </div>
            <div class="categories-hero-card__back">
              <span class="categories-hero-card__title categories-hero-card__title--back">Сырье для<br>масла CBD</span>
              <a href="/categories-inner" class="circle-link circle-link--secondary categories-hero-card__link">
                <span class="circle-link__icon-wrapper">
                  <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                    </path>
                  </svg>
                </span>
                <span class="circle-link__text">Подробнее</span>
              </a>
              <img class="categories-hero-card__img" src="src/assets/img/categories-hero-product-5.avif" alt="Фото продукта" width="276" height="413">
            </div>
          </div>
        </li>
        <li class="categories-hero-list__item categories-hero-card">
          <div class="categories-hero-card__content">
            <div class="categories-hero-card__front">
              <h3 class="categories-hero-card__title">Сырье для<br>животных</h3>
              <a href="/categories-inner" class="circle-link circle-link--secondary categories-hero-card__link">
                <span class="circle-link__icon-wrapper">
                  <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                    </path>
                  </svg>
                </span>
                <span class="circle-link__text">Подробнее</span>
              </a>
            </div>
            <div class="categories-hero-card__back">
              <span class="categories-hero-card__title categories-hero-card__title--back">Сырье для<br>животных</span>
              <a href="/categories-inner" class="circle-link circle-link--secondary categories-hero-card__link">
                <span class="circle-link__icon-wrapper">
                  <svg class="circle-link__icon" width="25" height="16" viewBox="0 0 25 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M24.7071 8.70711C25.0976 8.31659 25.0976 7.68342 24.7071 7.2929L18.3431 0.928935C17.9526 0.538411 17.3195 0.538411 16.9289 0.928935C16.5384 1.31946 16.5384 1.95262 16.9289 2.34315L22.5858 8L16.9289 13.6569C16.5384 14.0474 16.5384 14.6805 16.9289 15.0711C17.3195 15.4616 17.9526 15.4616 18.3431 15.0711L24.7071 8.70711ZM-1.74846e-07 9L24 9L24 7L1.74846e-07 7L-1.74846e-07 9Z">
                    </path>
                  </svg>
                </span>
                <span class="circle-link__text">Подробнее</span>
              </a>
              <img class="categories-hero-card__img" src="src/assets/img/categories-hero-product-6.avif" alt="Фото продукта" width="276" height="413">
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="categories-hero__mobile">
      <ul class="list-reset categories-mobile">
        <li class="categories-mobile__item accordion-categories-mob" data-js-accordion>
          <button class="btn-reset accordion-categories-mob__control" aria-expanded="false" data-js-accordion-control>
            <span class="accordion-categories-mob__title">Сырье для напитков</span>
            <span class="accordion-categories-mob__icon"></span>
          </button>
          <div class="accordion-categories-mob__content" aria-hidden="true" data-js-accordion-content>
            <div class="accordion-categories-mob__wrapper">
              <img class="accordion-categories-mob__img" src="src/assets/img/categories-hero-product-2-mobile.avif" alt="Фото продукта" width="158" height="237">
              <a href="/categories-inner" class="accordion-categories-mob__link"></a>
            </div>
          </div>
        </li>
        <li class="categories-mobile__item accordion-categories-mob" data-js-accordion>
          <button class="btn-reset accordion-categories-mob__control" aria-expanded="false" data-js-accordion-control>
            <span class="accordion-categories-mob__title">Сырье для косметики</span>
            <span class="accordion-categories-mob__icon"></span>
          </button>
          <div class="accordion-categories-mob__content" aria-hidden="true" data-js-accordion-content>
            <div class="accordion-categories-mob__wrapper">
              <img class="accordion-categories-mob__img" src="src/assets/img/categories-hero-product-1-mobile.avif" alt="Фото продукта" width="158" height="237">
              <a href="/categories-inner" class="accordion-categories-mob__link"></a>
            </div>
          </div>
        </li>
        <li class="categories-mobile__item accordion-categories-mob" data-js-accordion>
          <button class="btn-reset accordion-categories-mob__control" aria-expanded="false" data-js-accordion-control>
            <span class="accordion-categories-mob__title">Сырье для пищевой продукции</span>
            <span class="accordion-categories-mob__icon"></span>
          </button>
          <div class="accordion-categories-mob__content" aria-hidden="true" data-js-accordion-content>
            <div class="accordion-categories-mob__wrapper">
              <img class="accordion-categories-mob__img" src="src/assets/img/categories-hero-product-3-mobile.avif" alt="Фото продукта" width="158" height="237">
              <a href="/categories-inner" class="accordion-categories-mob__link"></a>
            </div>
          </div>
        </li>
        <li class="categories-mobile__item accordion-categories-mob" data-js-accordion>
          <button class="btn-reset accordion-categories-mob__control" aria-expanded="false" data-js-accordion-control>
            <span class="accordion-categories-mob__title">Сырье для табака и вейпа</span>
            <span class="accordion-categories-mob__icon"></span>
          </button>
          <div class="accordion-categories-mob__content" aria-hidden="true" data-js-accordion-content>
            <div class="accordion-categories-mob__wrapper">
              <img class="accordion-categories-mob__img" src="src/assets/img/categories-hero-product-4-mobile.avif" alt="Фото продукта" width="158" height="237">
              <a href="/categories-inner" class="accordion-categories-mob__link"></a>
            </div>
          </div>
        </li>
        <li class="categories-mobile__item accordion-categories-mob" data-js-accordion>
          <button class="btn-reset accordion-categories-mob__control" aria-expanded="false" data-js-accordion-control>
            <span class="accordion-categories-mob__title">Сырье для масла CBD</span>
            <span class="accordion-categories-mob__icon"></span>
          </button>
          <div class="accordion-categories-mob__content" aria-hidden="true" data-js-accordion-content>
            <div class="accordion-categories-mob__wrapper">
              <img class="accordion-categories-mob__img" src="src/assets/img/categories-hero-product-5-mobile.avif" alt="Фото продукта" width="158" height="237">
              <a href="/categories-inner" class="accordion-categories-mob__link"></a>
            </div>
          </div>
        </li>
        <li class="categories-mobile__item accordion-categories-mob" data-js-accordion>
          <button class="btn-reset accordion-categories-mob__control" aria-expanded="false" data-js-accordion-control>
            <span class="accordion-categories-mob__title">Сырье для животных</span>
            <span class="accordion-categories-mob__icon"></span>
          </button>
          <div class="accordion-categories-mob__content" aria-hidden="true" data-js-accordion-content>
            <div class="accordion-categories-mob__wrapper">
              <img class="accordion-categories-mob__img" src="src/assets/img/categories-hero-product-6-mobile.avif" alt="Фото продукта" width="158" height="237">
              <a href="/categories-inner" class="accordion-categories-mob__link"></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>