<section class="blog-inner-hero">
  <div class="container">
    <div class="blog-inner-hero__content">
      <span class="blog-inner-hero__date"><time datetime="2023-10-01">1 октября 2023</time></span>
      <h1 class="blog-inner-hero__title">Важные результаты исследования CBD, опубликованные Radicle Science</h1>
      <ul class="list-reset tags-list">
        <li class="tags-list__item tags-list__item--blog-inner">
          <span class="tags-list__text tags-list__text--blog-inner">Исследования</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="blog-inner-hero__image-container">
    <div class="blog-inner-hero__img-wrapper">
      <picture>
        <source srcset="src/assets/img/blog-inner-img-mobile.avif" media="(max-width: 576px)">
        <img src="src/assets/img/blog-inner-img.avif" alt="Картинка для статьи" width="1460" height="749">
      </picture>
    </div>
  </div>
</section>