<section class="blog-inner-body">
  <h2 class="visually-hidden">Название статьи</h2>
  <div class="container">
    <div class="blog-inner-body__container">
      <div class="blog-inner-body__block">
        <h3 class="blog-inner-body__title">Эффективность<br>продуктов CBD</h3>
        <div class="blog-inner-body__content">
          <p class="section-title-desc section-title-desc--black">
            Radicle Science недавно опубликовала ценные данные, в которых излагаются результаты их <span class="accent-text-bg" data-js-change-text>исследования Radicle ACES</span>, целью которого
            было
            определить эффективность продуктов CBD.
          </p>
          <p class="section-text section-text--md blog-inner-body__text">
            В исследовании приняли участие более десятка брендов CBD в США. Эти бренды были исследованы, чтобы определить, могут ли они принести пользу человеку в пяти различных областях
            здравоохранения, которые включают их благополучие, качество жизни, обезболивание, стресс и качество сна.
            Генеральный директор и соучредитель Radicle Science Джефф Чен, доктор медицинских наук, объяснил необходимость доказательств в реальном мире,
            которые действительно иллюстрируют, что на самом деле испытывают миллионы пользователей CBD в США.
          </p>
          <p class="section-text section-text--md blog-inner-body__text">
            “Radicle Science переосмыслила клинические испытания, что привело к более быстрым и масштабным исследованиям, которые могут окончательно доказать или предсказать,
            какие продукты для здоровья, отпускаемые без рецепта, следует использовать для достижения желаемого эффекта,
            принося пользу потребителям, поставщикам медицинских услуг и брендам”.
          </p>
        </div>
      </div>
      <div class="blog-inner-body__block">
        <h3 class="blog-inner-body__title">3000 различных<br>участников</h3>
        <div class="blog-inner-body__content">
          <p class="section-text section-text--md blog-inner-body__text">
            К сожалению, индустрии CBD не хватает большого количества научных исследований. Для этого просто нет финансирования и ограничений на исследования. Это исследование от Radicle Science
            проводилось <span class="accent-text-bg" data-js-change-text>в течение четырех недель</span> с участием 3000 различных участников. Было использовано тринадцать продуктов и контрольная
            группа из списка ожидания. Это крупнейшее рандомизированное
            исследование, когда-либо проводившееся в индустрии CBD. Оно завершилось в конце 2021 года.
          </p>
          <div class="blog-inner-body__list-wrapper">
            <p class="section-text section-text--md blog-inner-body__text">
              Результаты этого исследования были, мягко говоря, проницательными. Из тех, кто участвовал:
            </p>
            <ul class="list-reset blog-inner-body__list">
              <li class="blog-inner-body__item">
                <p class="section-text section-text--md blog-inner-body__text">
                  71% людей испытали некоторую степень улучшения самочувствия.
                </p>
              </li>
              <li class="blog-inner-body__item">
                <p class="section-text section-text--md blog-inner-body__text">
                  63% процентов людей испытали снижение уровня стресса в течение месячного исследования.
                </p>
              </li>
              <li class="blog-inner-body__item">
                <p class="section-text section-text--md blog-inner-body__text">
                  у 61% людей изменился режим сна к лучшему, а 47% людей испытывали меньше боли.
                </p>
              </li>
            </ul>
          </div>
          <p class="section-text section-text--md blog-inner-body__text">
            Эти преимущества проявились в течение одного-четырех часов после приема продукта у <span class="accent-text-bg" data-js-change-text>61 процента участников</span>. По-видимому, не было
            никаких различий между людьми, которые употребляли CBD в
            прошлом, женщинами и мужчинами или в зависимости от возраста.
          </p>
          <p class="section-text section-text--md blog-inner-body__text">
            Radicle Science планирует сосредоточиться на других исследованиях каннабиноидов в 2022 году, уделяя особое внимание CBD, CBG, CBN. В этих исследованиях будет подробно рассмотрено влияние
            этих каннабиноидов на такие вещи, как сон, энергия, сосредоточенность, аппетит, стресс и боль.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>